<div  id="css3Intro" class="css section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>CSS3 Introduction</h3> </div>
                  <div class="panel-body">  
                    <p>
                        CSS3 is the latest standard for CSS.
                        <br>CSS3 is completely backwards-compatible with earlier versions of CSS.
                        <br>This section teaches you about the new features in CSS3!
                      
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>CSS3 Modules</h3> </div>
                  <div class="panel-body">  
                    <p>
                        CSS3 has been split into "modules". It contains the "old CSS specification" (which has been split into smaller pieces). In addition, new modules are added.
                        <br>Some of the most important CSS3 modules are:

                        <ul>
                            <li>Selectors</li>
                            <li>Box Model</li>
                            <li>Backgrounds and Borders</li>
                            <li>Image Values and Replaced Content</li>
                            <li>Text Effects</li>
                            <li>2D/3D Transformations</li>
                            <li>Animations</li>
                            <li>Multiple Column Layout</li>
                            <li>User Interface</li>
                        </ul>
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>CSS3 Recommendation</h3> </div>
                  <div class="panel-body">  
                    <p>
                        Most of the CSS3 Modules are W3C Recommendations, and most of the new CSS3 properties are already implemented in modern browsers.
                        
                    </p>
                  </div>
                </div>
            </div> 

        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


