<div  id="cssRWDFrameworks" class="css section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Frameworks</h3> </div>
                  <div class="panel-body">  
                    <p>
                        There are many existing CSS Frameworks that offers Responsive Design.
                        <br>They are free, and easy to use.
                        <ul>
                            <li>W3.CSS</li>
                            <li><a class="btn btn-info" href="#/bootstrap/tutorial">Bootstrap</a></li>
                            <li>Skeleton</li>
                        </ul>
                      
                    </p>
                  </div>
                </div>
            </div> 

            

        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


