<div  id="cssRWDIntro" class="css section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>What is Responsive Web Design?</h3> </div>
                  <div class="panel-body">  
                    <p>
                        Responsive web design makes your web page look good on all devices.
                        <br>Responsive web design uses only HTML and CSS.
                        <br>Responsive web design is not a program or a JavaScript.
                      
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Designing For The Best Experience For All Users</h3> </div>
                  <div class="panel-body">  
                    <p>
                        Web pages can be viewed using many different devices: desktops, tablets, and phones. Your web page should look good, and be easy to use, regardless of the device.
                        <br>Web pages should not leave out information to fit smaller devices, but rather adapt its content to fit any device:
                      
                        <div class="col-md-6" style="text-align:center;">
                            <img src="media/images/rwd_desktop.png" style="border:2px solid #dddddd;">
                            <br>
                            Desktop
                            <br>
                            <br>
                        </div>
                        <div class="col-md-4" style="text-align:center;">
                            <img src="media/images/rwd_tablet.png" style="border:2px solid #dddddd;">
                            <br>
                            Tablet
                            <br>
                            <br>
                        </div>
                        <div class="col-md-2" style="text-align:center;">
                            <img src="media/images/rwd_phone.png" style="border:2px solid #dddddd;">
                            <br>
                            Phone
                            <br>
                            <br>
                        </div>
                        <div class="col-md-12">
                            It is called responsive web design when you use CSS and HTML to resize, hide, shrink, enlarge, or move the content to make it look good on any screen.
                        </div>
                    </p>
                  </div>
                </div>
            </div> 

        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


