<div class="ang section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3></h3> </div>
                  <div class="panel-body">  
                    <p>Invokes the <code><span class="pln">iterator</span></code> function once for each item in <code><span class="pln">obj</span></code> collection, which can be either an
                    object or an array. The <code><span class="pln">iterator</span></code> function is invoked with <code><span class="pln">iterator</span><span class="pun">(</span><span class="pln">value</span><span class="pun">,</span><span class="pln"> key</span><span class="pun">,</span><span class="pln"> obj</span><span class="pun">)</span></code>, where <code><span class="pln">value</span></code>
                    is the value of an object property or an array element, <code><span class="pln">key</span></code> is the object property key or
                    array element index and obj is the <code><span class="pln">obj</span></code> itself. Specifying a <code><span class="pln">context</span></code> for the function is optional.</p>

                    <p>It is worth noting that <code><span class="pun">.</span><span class="pln">forEach</span></code> does not iterate over inherited properties because it filters
                    using the <code><span class="pln">hasOwnProperty</span></code> method.</p>

                    <p>Unlike ES262's <b>Array.prototype.forEach</b>, Providing 'undefined' or 'null' values for <code><span class="pln">obj</span></code> will not throw a TypeError, but rather just
                    return the value provided.</p>

                    <codeBody>
                        var values = {name: 'misko', gender: 'male'};
                        <br>var log = [];
                        <br><spanYellow>angular.forEach(values, function(value, key) {
                        <br>&nbsp;&nbsp;&nbsp; this.push(key + ': ' + value);
                        <br>}, log);</spanYellow>
                        <br><spanYellow>expect(log).toEqual(['name: misko', 'gender: male']);</spanYellow>
                    </codeBody>
                    
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Usage</h3> </div>
                  <div class="panel-body">  
                    <p>
                        <codeBody>
                            <spanYellow>angular.forEach(obj, iterator, [context]);</spanYellow>
                        </codeBody>
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Arguments</h3> </div>
                  <div class="panel-body">  
                    <p>
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Param</th>
                              <th>Type</th>
                              <th>Details</th>
                            </tr>
                          </thead>
                          <tbody>
                            
                            <tr>
                              <td>
                                obj
                                
                                
                              </td>
                              <td>
                                Object, Array
                              </td>
                              <td>
                                <p>Object to iterate over.</p>

                                
                              </td>
                            </tr>
                            
                            <tr>
                              <td>
                                iterator
                                
                                
                              </td>
                              <td>
                                Function
                              </td>
                              <td>
                                <p>Iterator function.</p>

                                
                              </td>
                            </tr>
                            
                            <tr>
                              <td>
                                context
                                
                                <div><em>(optional)</em></div>
                              </td>
                              <td>
                                Object
                              </td>
                              <td>
                                <p>Object to become context (<code><span class="kwd">this</span></code>) for the iterator function.</p>

                                
                              </td>
                            </tr>
                            
                          </tbody>
                        </table>

                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Returns</h3> </div>
                  <div class="panel-body">  
                    <p>
                        <table class="table table-striped">
                          <tbody><tr>
                            <td>Object, Array</td>
                            <td><p>Reference to <code><span class="pln">obj</span></code>.</p>
                        </td>
                          </tr>
                        </tbody></table>
                    </p>
                  </div>
                </div>
            </div> 

        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


