<div class="ang section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>angular.reloadWithDebugInfo</h3> </div>
                  <div class="panel-body">  
                    <p>Use this function to reload the current application with debug information turned on.
                    This takes precedence over a call to <code><span class="pln">$compileProvider</span><span class="pun">.</span><span class="pln">debugInfoEnabled</span><span class="pun">(</span><span class="kwd">false</span><span class="pun">)</span></code>.</p>

                    <p>See <code><span class="pln">$compileProvider</span></code> for more.</p>
                  </div>

                  

                </div>
            </div> 

        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


