<div  id="***" class="*** section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>What is HTML?</h3> </div>
                  <div class="panel-body">  
                    <p>HTML is a <span class="spanRed">markup language</span> for describing web documents (web pages).
                      <ul>
                        <li>HTML stands for <span class="spanRed">Hyper Text Markup Language</span></li>
                        <li>A markup language is a set of markup tags</li>
                        <li>HTML documents are described by HTML tags</li>
                        <li>Each HTML tag describes different document content</li>
                      </ul>   
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML Example</h3> </div>
                  <div class="panel-body">  
                    <div class="code-body">
                      &lt;!DOCTYPE html&gt;
                      <br>&lt;html&gt;
                      <br>&lt;head&gt;
                      <br>&lt;title&gt;Page Title&lt;/title&gt;
                      <br>&lt;/head&gt;
                      <br>&lt;body&gt;
                      <br>
                      <br>&lt;h1&gt;My First Heading&lt;/h1&gt;
                      <br>&lt;p&gt;My first paragraph.&lt;/p&gt;
                      <br>
                      <br>&lt;/body&gt;
                      <br>&lt;/html&gt;
                    </div>
                    <br>Example Explained:
                    <ul>
                      <li>The DOCTYPE declaration defines the document type to be HTML</li>
                      <li>The text between <span class="spanRed">&lt;html&gt;</span> and <span class="spanRed">&lt;/html&gt;</span> describes an HTML document
</li>
                      <li>The text between <span class="spanRed">&lt;head&gt;</span> and <span class="spanRed">&lt;/head&gt;</span> provides information about the document</li>
                      <li>The text between <span class="spanRed">&lt;title&gt;</span> and <span class="spanRed">&lt;/title&gt;</span> provides a title for the document
</li>
                      <li>The text between <span class="spanRed">&lt;body&gt;</span> and <span class="spanRed">&lt;/body&gt;</span> describes the visible page content</li>
                      <li>The text between <span class="spanRed">&lt;h1&gt;</span> and <span class="spanRed">&lt;/h1&gt;</span> describes a heading</li>
                      <li>The text between <span class="spanRed">&lt;p&gt;</span> and <span class="spanRed">&lt;/p&gt;</span> describes a paragraph
</li>
                    </ul>
                    Using this description, a web browser can display a document with a heading and a paragraph.

                  </div>
                </div>
            </div> 

            

        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


