<div  id="cssDimension" class="css section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>CSS Dimension</h3> </div>
                  <div class="panel-body">  
                    <p>
                        The CSS dimension properties allow you to control the height and width of an element.
                      
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>All CSS Dimension Properties</h3> </div>
                  <div class="panel-body">  
                    <p>
                        <table class="table table-striped">
                          <tbody><tr>
                            <th style="width:20%">Property</th>
                            <th style="width:58%">Description</th>
                            <th>Values</th>
                          </tr>
                          <tr>
                            <td><div href="/cssref/pr_dim_height.asp">height</div></td>
                            <td>Sets the height of an element</td>
                            <td>auto<i><br>
                              length<br>
                              %<br>
                            </i>inherit</td>
                          </tr>
                          <tr>
                            <td><div href="/cssref/pr_dim_max-height.asp">max-height</div></td>
                            <td>Sets the maximum height of an element</td>
                            <td>none<br>
                              <i>
                              length<br>
                              %<br>
                            </i>inherit</td>
                          </tr>
                          <tr>
                            <td><div href="/cssref/pr_dim_max-width.asp">max-width</div></td>
                            <td>Sets the maximum width of an element</td>
                            <td>none<br>
                              <i>
                              length<br>
                              %<br>
                            </i>inherit</td>
                          </tr>
                          <tr>
                            <td><div href="/cssref/pr_dim_min-height.asp">min-height</div></td>
                            <td>Sets the minimum height of an element</td>
                            <td>
                              <i>
                              length<br>
                              %<br>
                                </i>inherit</td>
                          </tr>
                          <tr>
                            <td><div href="/cssref/pr_dim_min-width.asp">min-width</div></td>
                            <td>Sets the minimum width of an element</td>
                            <td><i>length<br>
                              %<br>
                            </i>inherit</td>
                          </tr>
                          <tr>
                            <td><div href="/cssref/pr_dim_width.asp">width</div></td>
                            <td>Sets the width of an element</td>
                            <td>auto<i><br>
                              length<br>
                              %<br>
                            </i>inherit</td>
                          </tr>
                        </tbody></table>
                      
                    </p>
                  </div>
                </div>
            </div> 

            

        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


