<div  id="cssIntro" class="css section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>What is CSS?</h3> </div>
                  <div class="panel-body">  
                    <p>
                        <ul>
                          <li><b>CSS</b> stands for <b>C</b>ascading <b>S</b>tyle <b>S</b>heets</li>
                          <li>CSS defines <strong>how HTML elements are to be displayed</strong></li>
                          <li>Styles were added to HTML 4.0 <b>to solve a problem</b></li>
                          <li>CSS saves a lot of work</li>
                          <li>External Style Sheets are stored in <b>CSS files</b></li>
                        </ul>
                      
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>CSS Solved a Big Problem</h3> </div>
                  <div class="panel-body">  
                    <p>
                        HTML was NEVER intended to contain tags for formatting a document.
                        <br>HTML was intended to define the content of a document, like:
                        <codeBody>
                            &lt;h1&gt;This is a heading&lt;/h1&gt;
                            <br>&lt;p&gt;This is a paragraph.&lt;/p&gt;
                        </codeBody>
                        <br>When tags like &lt;font&gt;, and color attributes were added to the HTML 3.2 specification, it started a nightmare for web developers. Development of large web sites, where fonts and color information were added to every single page, became a long and expensive process.
                        <br>To solve this problem, the World Wide Web Consortium (W3C) created CSS.
                        <br>In HTML 4.0, all formatting could (and should!) be removed from the HTML document, and stored in a separate CSS file.
                      
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>CSS Saves a Lot of Work!</h3> </div>
                  <div class="panel-body">  
                    <p>
                        The style definitions are normally saved in external .css files.
                        <br>With an external style sheet file, you can change the look of an entire Web site by changing just one file!
                      
                    </p>
                  </div>
                </div>
            </div> 

        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


