<div  id="cssLists" class="css section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>CSS Lists</h3> </div>
                  <div class="panel-body">  
                    <p>
                        The CSS list properties allow you to:
                        <ul style="list-style-type:none;padding:0px;margin:0px;">
                          <li style="background-image:url(media/images/sqorange.gif);background-repeat:no-repeat;background-position:40px 3px; padding-left:56px;">Set different list item markers for ordered lists</li>
                          <li style="background-image:url(media/images/sqorange.gif);background-repeat:no-repeat;background-position:40px 3px; padding-left:56px;">Set different list item markers for unordered lists</li>
                          <li style="background-image:url(media/images/sqorange.gif);background-repeat:no-repeat;background-position:40px 3px; padding-left:56px;">Set an image as the list item marker</li>
                        </ul>
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>List</h3> </div>
                  <div class="panel-body">  
                    <p>
                        In HTML, there are two types of lists:
                        <ul>
                          <li>unordered lists (&lt;ul&gt;) - the list items are marked with bullets</li>
                          <li>ordered lists (&lt;ol&gt;) - the list items are marked with numbers or letters</li>
                        </ul>
                        With CSS, lists can be styled further, and images can be used as the list item marker.
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Different List Item Markers</h3> </div>
                  <div class="panel-body">  
                    <p>
                        The type of list item marker is specified with the list-style-type property:

                        <p>Example of unordered lists:</p>
                        <ul class="a" style="list-style-type: circle;">
                          <li>Coffee</li>
                          <li>Tea</li>
                          <li>Coca Cola</li>
                        </ul>

                        <ul class="b" style="list-style-type: square;">
                          <li>Coffee</li>
                          <li>Tea</li>
                          <li>Coca Cola</li>
                        </ul>
                        <codeBody>
                            ul.a {
                            <br>&nbsp;&nbsp;&nbsp;    <spanYellow>list-style-type: circle;</spanYellow>
                            <br>}
                            <br>
                            <br>ul.b {
                            <br>&nbsp;&nbsp;&nbsp;    <spanYellow>list-style-type: square;</spanYellow>
                            <br>}
                            <br>                            
                        </codeBody>
                        <br>
                        <p>Example of ordered lists:</p>
                        <ol class="c" style="list-style-type: upper-roman;">
                          <li>Coffee</li>
                          <li>Tea</li>
                          <li>Coca Cola</li>
                        </ol>

                        <ol class="d" style="list-style-type: lower-alpha;">
                          <li>Coffee</li>
                          <li>Tea</li>
                          <li>Coca Cola</li>
                        </ol>

                        <codeBody>
                            ol.c {
                            <br>&nbsp;&nbsp;&nbsp;    <spanYellow>list-style-type: upper-roman;</spanYellow>
                            <br>}
                            <br>
                            <br>ol.d {
                            <br>&nbsp;&nbsp;&nbsp;    <spanYellow>list-style-type: lower-alpha;</spanYellow>
                            <br>}
                        </codeBody>
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>An Image as The List Item Marker</h3> </div>
                  <div class="panel-body">  
                    <p>
                        To specify an image as the list item marker, use the list-style-image property:
                        <codeBody>
                            ul {
                            <br>&nbsp;&nbsp;&nbsp;   <spanYellow>list-style-image: url('sqpurple.gif');</spanYellow>
                            <br>}
                        </codeBody>
                        <br>The example above does not display equally in all browsers. IE and Opera will display the image-marker a little bit higher than Firefox, Chrome, and Safari.
                        <br>If you want the image-marker to be placed equally in all browsers, a crossbrowser solution is explained below.
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Crossbrowser Solution</h3> </div>
                  <div class="panel-body">  
                    <p>
                        The following example displays the image-marker equally in all browsers:
                        <codeBody>
                            ul {
                            <br>&nbsp;&nbsp;&nbsp;    <spanYellow>list-style-type: none;</spanYellow>
                            <br>&nbsp;&nbsp;&nbsp;    padding: 0px;
                            <br>&nbsp;&nbsp;&nbsp;    margin: 0px;
                            <br>}
                            <br>
                            <br>ul li {
                            <br>&nbsp;&nbsp;&nbsp;    <spanYellow>background-image: url(sqpurple.gif);</spanYellow>
                            <br>&nbsp;&nbsp;&nbsp;    background-repeat: no-repeat;
                            <br>&nbsp;&nbsp;&nbsp;    background-position: 0px center; 
                            <br>&nbsp;&nbsp;&nbsp;    padding-left: 15px; 
                            <br>}
                        </codeBody>
                        <br>Example explained:
                        <ul>
                            <li>For &lt;ul&gt;:
                            <ul>
                            <li>Set the list-style-type to none to remove the list item marker</li>
                            <li>Set both padding and margin to 0px (for cross-browser compatibility)</li>
                            </ul>
                            </li>
                            <li>For all &lt;li&gt; in &lt;ul&gt;:
                            <ul>    
                            <li>Set the URL of the image, and show it only once (no-repeat)</li>
                            <li>Position the image where you want it (left 0px and vertical value: center)</li>
                            <li>Position the text in the list with padding-left</li>
                            </ul>
                            </li>
                        </ul>
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>List - Shorthand property</h3> </div>
                  <div class="panel-body">  
                    <p>
                        The list-style property is a shorthand property. It is used to set all the list properties in one declaration:
                        <codeBody>
                            ul {
                            <br>&nbsp;&nbsp;&nbsp;    <spanYellow>list-style: square inside url("sqpurple.gif");</spanYellow>
                            <br>}
                        </codeBody>
                        <br>When using the shorthand property, the order of the property values are:
                        <ul>
                            <li><code>list-style-type</code> (if a list-style-image is specified, 
                            the value of this property will be displayed if the image for some reason 
                            cannot be displayed)</li>
                            <li><code>list-style-position</code> (specifies whether the list-item markers should appear inside or outside the content flow)</li>
                            <li><code>list-style-image</code> (specifies an image as the list item 
                            marker)</li>
                        </ul>
                        If one of the property values above are missing, the default value for the missing property will be inserted, if any.
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>All CSS List Properties</h3> </div>
                  <div class="panel-body">  
                    <p>
                        <table class="table table-striped">
                          <tbody><tr>
                            <th style="width:20%">Property</th>
                            <th>Description</th>
                          </tr>
                          <tr>
                            <td><div href="/cssref/pr_list-style.asp">list-style</div></td>
                            <td>Sets all the properties for a list in one declaration</td>
                          </tr>
                          <tr>
                            <td><div href="/cssref/pr_list-style-image.asp">list-style-image</div></td>
                            <td>Specifies an image as the list-item marker</td>
                          </tr>
                          <tr>
                            <td><div href="/cssref/pr_list-style-position.asp">list-style-position</div></td>
                            <td>Specifies if the list-item markers should appear inside or outside the content flow</td>
                          </tr>
                          <tr>
                            <td><div href="/cssref/pr_list-style-type.asp">list-style-type</div></td>
                            <td>Specifies the type of list-item marker</td>
                          </tr>
                        </tbody></table>
                    </p>
                  </div>
                </div>
            </div> 

        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


