<div  id="html5Blocks" class="html5 section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML Block and Inline Elements</h3> </div>
                  <div class="panel-body">  
                    <p>
                        Every HTML element has a default display value depending on what type of element it is. The default display value for most elements is block or inline.

                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Block-level Elements</h3> </div>
                  <div class="panel-body">  
                    <p>
                        A block-level element always starts on a new line and takes up the full width available (stretches out to the left and right as far as it can).
                        <br>The <span class="spanRed">&lt;div&gt; </span> element is a block-level element.
                        <br>Examples of block-level elements:
                        <ul>
                            <li><span class="spanRed">&lt;div&gt;</span></li>
                            <li><span class="spanRed">&lt;h1&gt; - &lt;h6&gt;</span></li>
                            <li><span class="spanRed">&lt;p&gt;</span></li>
                            <li><span class="spanRed">&lt;form&gt;</span></li>
                        </ul>

                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Inline Elements</h3> </div>
                  <div class="panel-body">  
                    <p>
                        An inline element does not start on a new line and only takes up as much width as necessary.
                        <br>This is an inline <span class="spanRed">&lt;span&gt; </span> element inside a paragraph.
                        <br>Examples of inline elements:
                        <ul>
                            <li><span class="spanRed">&lt;span&gt;</span></li>
                            <li><span class="spanRed">&lt;a&gt;</span></li>
                            <li><span class="spanRed">&lt;img&gt;</span></li>
                        </ul>
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>The &lt;div&gt; Element</h3> </div>
                  <div class="panel-body">  
                    <p>
                        The <span class="spanRed">&lt;div&gt;</span> element is a block-level element that is often used as a container for other HTML elements.
                        <br>The <span class="spanRed">&lt;div&gt;</span> element has no required attributes, but style and class are common.
                        <br>When used together with CSS, the <span class="spanRed">&lt;div&gt;</span> element can be used to style blocks of content:

                        <div class="code-body">
                            &lt;div <span class="spanYellow">style="background-color:black; color:white; padding:20px;"</span>&gt;
                            <br>
                            <br>&lt;h2&gt;London&lt;/h2&gt;
                            <br>&lt;p&gt;London is the capital city of England. It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.&lt;/p&gt;
                            <br>
                            <br>&lt;/div&gt;
                        </div>
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>The &lt;span&gt; Element</h3> </div>
                  <div class="panel-body">  
                    <p>
                        The <span class="spanRed">&lt;span&gt;</span> element is an inline element that is often used as a container for some text.
                        <br>The <span class="spanRed">&lt;span&gt;</span> element has no required attributes, but style and class are common.
                        <br>When used together with CSS, the <span class="spanRed">&lt;span&gt;</span> element can be used to style parts of the text:

                        <div class="code-body">
                            &lt;h1&gt;My <span class="spanYellow">&lt;span style="color:red"&gt;Important&lt;/span&gt;</span> Heading&lt;/h1&gt;
                            
                        </div>
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML Grouping Tags</h3> </div>
                  <div class="panel-body">  
                    <table class="table table-striped">
                    <tbody><tr>
                    <th>Tag</th>
                    <th>Description</th>
                    </tr>
                    <tr>
                    <td><a href="">&lt;div&gt;</a></td>
                    <td>Defines a section in a document (block-level)</td>
                    </tr>
                    <tr>
                    <td><a href="">&lt;span&gt;</a></td>
                    <td>Defines a section in a document (inline)</td>
                    </tr>
                    </tbody></table>
                  </div>
                </div>
            </div> 

            
        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


