<div  id="html5Formatting" class="html5 section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML Formatting Elements</h3> </div>
                  <div class="panel-body">  
                    <p>
                        In the previous chapter, you learned about HTML styling, using the HTML style attribute.
                        <br>HTML also defines special elements, for defining text with a special meaning.
                        <br>HTML uses elements like <span class="spanRed">&lt;b&gt;</span> and <span class="spanRed">&lt;i&gt;</span> for formatting output, like bold or italic text.
                        <br>Formatting elements were designed to display special types of text:
                        <ul>
                         <li><b>Bold text</b></li>
                         <li><strong>Important text</strong></li>
                         <li><i>Italic text</i></li>
                         <li><em>Emphasized text</em></li>
                         <li><mark>Marked text</mark></li>
                         <li><small>Small text</small></li>
                         <li><del>Deleted text<del></li>
                         <li><ins>Inserted text</ins></li>
                         <li><sub>Subscripts</sub></li>
                         <li><sup>Superscripts</sup></li>
                        </ul>
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML <b>Bold</b> and <strong>Strong</strong> Formatting</h3> </div>
                  <div class="panel-body">  
                    <p>
                        The HTML <span class="spanRed">&lt;b&gt;</span> element defines bold text, without any extra importance.
                        <br>The HTML <span class="spanRed">&lt;strong&gt;</span> element defines strong text, with added semantic "strong" importance.

                        <div>
                            <p>This text is normal.</p>
                            <p><b>This text is bold</b></p>
                            <p><strong>This text is strong</strong></p>
                        </div>
                       
                        <div class="code-body">
                            &lt;div&gt;
                            <br>&nbsp;&nbsp;&nbsp;    &lt;p&gt;This text is normal&lt;/p&gt;
                            <br>&nbsp;&nbsp;&nbsp;    &lt;p&gt;<span class="spanYellow">&lt;b&gt;</span>This text is bold<span class="spanYellow">&lt;/b&gt;</span>&lt;/p&gt;
                            <br>&nbsp;&nbsp;&nbsp;    &lt;p&gt;<span class="spanYellow">&lt;strong&gt;</span>This text is strong<span class="spanYellow">&lt;/strong&gt;</span>&lt;/p&gt;
                            <br>&lt;/div&gt;
                        </div>
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML <i>Italic</i> and <em>Emphasized</em> Formatting</h3> </div>
                  <div class="panel-body">  
                    <p>
                        The HTML <span class="spanRed">&lt;i&gt;</span> element defines italic text, without any extra importance.
                        <br>The HTML <span class="spanRed">&lt;em&gt;</span> element defines emphasized text, with added semantic importance.

                        <div>
                            <p>This text is normal.</p>
                            <p><i>This text is bold</i></p>
                            <p><em>This text is strong</em></p>
                        </div>
                       
                        <div class="code-body">
                            &lt;div&gt;
                            <br>&nbsp;&nbsp;&nbsp;    &lt;p&gt;This text is normal&lt;/p&gt;
                            <br>&nbsp;&nbsp;&nbsp;    &lt;p&gt;<span class="spanYellow">&lt;i&gt;</span>This text is italic<span class="spanYellow">&lt;/i&gt;</span>&lt;/p&gt;
                            <br>&nbsp;&nbsp;&nbsp;    &lt;p&gt;<span class="spanYellow">&lt;em&gt;</span>This text is emphasized<span class="spanYellow">&lt;/em&gt;</span>&lt;/p&gt;
                            <br>&lt;/div&gt;
                        </div>
                        <br>Browsers display <span class="spanRed">&lt;strong&gt;</span> as <span class="spanRed">&lt;b&gt;</span>, and <span class="spanRed">&lt;em&gt;</span> as <span class="spanRed">&lt;i&gt;</span>.
                        <br>However, there is a difference in the meaning of these tags: <span class="spanRed">&lt;b&gt;</span> and <span class="spanRed">&lt;i&gt;</span> defines bold and italic text, but <span class="spanRed">&lt;strong&gt;</span> and <span class="spanRed">&lt;em&gt;</span> means that the text is "important".
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML <small>Small</small> Elements</h3> </div>
                  <div class="panel-body">  
                    <p>The HTML <span class="spanRed">&lt;small&gt;</span> element defines small text:
                        <h4>HTML <small>Small</small> Formatting</h4>

                        <div class="code-body">
                            &lt;h4&gt;HTML <span class="spanYellow">&lt;small&gt;</span>Small<span class="spanYellow">&lt;/small&gt;</span> Formatting&lt;/h4&gt;
                        </div>

                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML <mark>Marked</mark> Elements</h3> </div>
                  <div class="panel-body">  
                    <p>The HTML <span class="spanRed">&lt;mark&gt;</span> element defines marked or highlighted text:
                        <h4>HTML <mark>Marked</mark> Formatting</h4>

                         <div class="code-body">
                            &lt;h4&gt;HTML <span class="spanYellow">&lt;mark&gt;</span>Marked<span class="spanYellow">&lt;/mark&gt;</span> Formatting&lt;/h4&gt;
                        </div>
                    </p>
                  </div>
                </div>
            </div>

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML <del>Deleted</del> Elements</h3> </div>
                  <div class="panel-body">  
                    <p>The HTML <span class="spanRed">&lt;del&gt;</span> element defines deleted (removed) of text.
                        <p>My favorite color is <del>blue</del> red.</p>
                        <div class="code-body">
                            &lt;p&gt;My favorite color is <span class="spanYellow">&lt;del&gt;</span>blue<span class="spanYellow">&lt;/del&gt;</span> red.&lt;/p&gt;
                            
                        </div>
                    </p>
                  </div>
                </div>
            </div>

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML <ins>Inserted</ins> Elements</h3> </div>
                  <div class="panel-body">  
                    <p>The HTML <span class="spanRed">&lt;ins&gt;</span> element defines inserted (added) text.
                        <p>My favorite <ins>color</ins> is red.</p>
                        <div class="code-body">
                            &lt;p&gt;My favorite <span class="spanYellow">&lt;ins&gt;</span>color<span class="spanYellow">&lt;/ins&gt;</span> is red.&lt;/p&gt;
                            
                        </div>
                    </p>
                  </div>
                </div>
            </div>

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML <sub>Subscript</sub> Elements</h3> </div>
                  <div class="panel-body">  
                    <p>The HTML <span class="spanRed">&lt;sub&gt;</span> element defines subscripted text.
                        <p>This is <sub>subscripted</sub> text.</p>
                        <div class="code-body">
                            <p>This is <span class="spanYellow">&lt;sub&gt;</span>subscripted<span class="spanYellow">&lt;/sub&gt;</span> text.</p>
                        </div>
                    </p>
                  </div>
                </div>
            </div>

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML <sup>Supperscript</sup> Elements</h3> </div>
                  <div class="panel-body">  
                    <p>The HTML <span class="spanRed">&lt;sup&gt;</span> element defines superscripted text.
                        <p>This is <sup>superscripted</sup> text.</p>
                        <div class="code-body">
                            <p>This is <span class="spanYellow">&lt;sup&gt;</span>superscripted<span class="spanYellow">&lt;/sup&gt;</span> text.</p>                            
                        </div>
                    </p>
                  </div>
                </div>
            </div>

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML Text Formatting Elements</h3> </div>
                  <div class="panel-body">  
                    <p>
                        <table class="table table-striped">
                        <tbody><tr>
                        <th style="width:20%">Tag</th>
                        <th>Description</th>
                        </tr>
                        <tr>
                        <td><a href="/tags/tag_b.asp">&lt;b&gt;</a></td>
                        <td>Defines bold text</td>
                        </tr>
                        <tr>
                        <td><a href="/tags/tag_em.asp">&lt;em&gt;</a></td>
                        <td>Defines emphasized text&nbsp;</td>
                        </tr>
                        <tr>
                        <td><a href="/tags/tag_i.asp">&lt;i&gt;</a></td>
                        <td>Defines italic text</td>
                        </tr>
                        <tr>
                        <td><a href="/tags/tag_small.asp">&lt;small&gt;</a></td>
                        <td>Defines smaller text</td>
                        </tr>
                        <tr>
                        <td><a href="/tags/tag_strong.asp">&lt;strong&gt;</a></td>
                        <td>Defines important text</td>
                        </tr>
                        <tr>
                        <td><a href="/tags/tag_sub.asp">&lt;sub&gt;</a></td>
                        <td>Defines subscripted text</td>
                        </tr>
                        <tr>
                        <td><a href="/tags/tag_sup.asp">&lt;sup&gt;</a></td>
                        <td>Defines superscripted text</td>
                        </tr>
                        <tr>
                        <td><a href="/tags/tag_ins.asp">&lt;ins&gt;</a></td>
                        <td>Defines inserted text</td>
                        </tr>
                        <tr>
                        <td><a href="/tags/tag_del.asp">&lt;del&gt;</a></td>
                        <td>Defines deleted text</td>
                        </tr>
                        <tr>
                        <td><a href="/tags/tag_mark.asp">&lt;mark&gt;</a></td>
                        <td>Defines marked/highlighted text</td>
                        </tr>
                        </tbody></table>

                    </p>
                  </div>
                </div>
            </div>

        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


