<div  id="html5Images" class="html5 section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML Images Syntax</h3> </div>
                  <div class="panel-body">  
                    <p>
                        In HTML, images are defined with the <span class="spanRed">&lt;img&gt;</span> tag.
                        <br>The <span class="spanRed">&lt;img&gt;</span> tag is empty, it contains attributes only, and does not have a closing tag.
                        <br>The src attribute specifies the URL (web address) of the image:

                        <div class="code-body">
                            &lt;img <span class="spanYellow">src="<i>url</i> " alt="<i>some_text</i> "</span>&gt;
                        </div>

                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>The alt Attribute</h3> </div>
                  <div class="panel-body">  
                    <p>
                        The alt attribute specifies an alternate text for an image, if the image cannot be displayed.
                        <br>The alt attribute provides alternative information for an image if a user for some reason cannot view it (because of slow connection, an error in the src attribute, or if the user uses a screen reader).
                        <br>If a browser cannot find an image, it will display the alt text:

                        <div class="code-body">
                            &lt;img src="html5.gif" <span class="spanYellow">alt="HTML5 Icon"</span> style="width:128px;height:128px;"&gt;
                        </div>
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML Screen Readers</h3> </div>
                  <div class="panel-body">  
                    <p>
                        A screen reader is a software programs that can read what is displayed on a screen.
                        <br>Screen readers are useful to people who are blind, visually impaired, or learning disabled.
                        <br><b>Note: </b>Screen readers can read the alt attribute.


                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Image Size - Width and Height</h3> </div>
                  <div class="panel-body">  
                    <p>
                        You can use the style attribute to specify the width and height of an image.
                        <br>The values are specified in pixels (use px after the value):
                        <div class="code-body">
                            &lt;img src="html5.gif" alt="HTML5 Icon" style="width:128px;height:128px;"&gt;
                        </div>
                        
                        <br>Alternatively, you can use width and height attributes. Here, the values are specified in pixels by default:
                        <div class="code-body">
                            &lt;img src="html5.gif" alt="HTML5 Icon" width="128" height="128"&gt;
                        </div>

                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Width and Height or Style?</h3> </div>
                  <div class="panel-body">  
                    <p>
                        Both the width, height, and style attributes are valid in the latest HTML5 standard.
                        <br>We suggest you use the style attribute. It prevents styles sheets from changing the original size of images:

                        <div class="code-body">
                            &lt;!DOCTYPE html&gt;
                            <br>&lt;html&gt;
                            <br>&lt;head&gt;
                            <br>&lt;style&gt;
                            <br>&nbsp;&nbsp;&nbsp; img { width:100%; }
                            <br>&lt;/style&gt;
                            <br>&lt;/head&gt;
                            <br>&lt;body&gt;
                            <br>
                            <br>&lt;img src="html5.gif" alt="HTML5 Icon" style="width:128px;height:128px;"&gt;
                            <br>&lt;img src="html5.gif" alt="HTML5 Icon" width="128" height="128"&gt;
                            <br>
                            <br>&lt;/body&gt;
                            <br>&lt;/html&gt;
                        </div>

                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Images in Another Folder</h3> </div>
                  <div class="panel-body">  
                    <p>
                        If not specified, the browser expects to find the image in the same folder as the web page.
                        <br>However, it is common to store images in a sub-folder. You must then include the folder name in the src attribute:

                        <div class="code-body">
                            &lt;img <span class="spanYellow">src="/images/html5.gif"</span> alt="W3Schools.com"&gt;
                        </div>

                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Images on Another Server</h3> </div>
                  <div class="panel-body">  
                    <p>
                        Some web sites store their images on image servers.
                        <br>Actually, you can access images from any web address in the world:

                        <div class="code-body">
                            &lt;img <span class="spanYellow">src="http://www.w3schools.com/images/w3schools_green.jpg"</span> alt="W3Schools.com"&gt;
                        </div>
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Animated Images</h3> </div>
                  <div class="panel-body">  
                    <p>
                        The GIF standard allows animated images:

                        <br>
                        <img src="images/programming.gif" alt="Computer Man" style="width:48px;height:48px;">

                        <br>
                        <div class="code-body">
                            &lt;img src="images/programming.gif" alt="Computer Man" style="width:48px;height:48px;"&gt;
                        </div>

                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Using an Image as a Link</h3> </div>
                  <div class="panel-body">  
                    <p>
                        To use an image as a link, simply nest the <span class="spanRed">&lt;img&gt;</span> tag inside the <span class="spanRed">&lt;a&gt;</span> tag:

                        <div class="code-body">
                            &lt;a href="default.asp"&gt;
                            <br>&nbsp;&nbsp;&nbsp;  &lt;img src="smiley.gif" alt="HTML tutorial" style="width:42px;height:42px;border:0;"&gt;
                            <br>&lt;/a&gt;
                        </div>
                        <br>Add "border:0;" to prevent IE9 (and earlier) from displaying a border around the image.
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Image Floating</h3> </div>
                  <div class="panel-body">  
                    <p>
                        Use the CSS float property to let the image float.
                        <br>The image can float to the right or to the left of a text:

                        <p>
                        <img src="images/planets.gif" alt="Smiley face" style="float:right;width:42px;height:42px;">
                        The image will float to the right of the text.
                        </p>

                        <br>
                        <p>
                        <img src="images/planets.gif" alt="Smiley face" style="float:left;width:42px;height:42px;">
                        The image will float to the left of the text.
                        </p>
                        
                        <br>
                        <div class="code-body">
                            &lt;p&gt;
                            <br>&lt;img src="planets.gif" alt="Smiley face" style="<span class="spanYellow">float:right;</span>width:42px;height:42px;"&gt;
                            <br>The image will float to the right of the text.
                            <br>&lt;/p&gt;
                            <br>
                            <br>&lt;p&gt;
                            <br>&lt;img src="planets.gif" alt="Smiley face" style="<span class="spanYellow">float:left;</span>width:42px;height:42px;"&gt;
                            <br>The image will float to the left of the text.
                            <br>&lt;/p&gt;
                        </div>

                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Image Maps</h3> </div>
                  <div class="panel-body">  
                    <p>
                        Use the <span class="spanRed">&lt;map&gt;</span> tag to define an image-map. An image-map is an image with clickable areas.
                        <br>The name attribute of the <span class="spanRed">&lt;map&gt;</span> tag is associated with the <span class="spanRed">&lt;img&gt;</span>'s usemap attribute and creates a relationship between the image and the map.
                        <br>The <span class="spanRed">&lt;map&gt;</span> tag contains a number of <span class="spanRed">&lt;area&gt;</span> tags, that defines the clickable areas in the image-map:

                        <br><br>
                        <img src="images/planets.gif" alt="Planets" usemap="#planetmap" style="width:145px;height:126px;">
                        <map name="planetmap">
                          <area shape="rect" coords="0,0,82,126" alt="Sun" href="sun.htm">
                          <area shape="circle" coords="90,58,3" alt="Mercury" href="mercur.htm">
                          <area shape="circle" coords="124,58,8" alt="Venus" href="venus.htm">
                        </map>

                        <div class="code-body">
                            &lt;img src="planets.gif" alt="Planets" <span class="spanYellow">usemap="#planetmap"</span> style="width:145px;height:126px;"&gt;
                            <br>
                            <br><span class="spanYellow">&lt;map name="planetmap"&gt;</span>
                            <br><span class="spanYellow">&nbsp;&nbsp;&nbsp;  &lt;area shape="rect" coords="0,0,82,126" alt="Sun" href="sun.htm"&gt;
                            <br>&nbsp;&nbsp;&nbsp;  &lt;area shape="circle" coords="90,58,3" alt="Mercury" href="mercur.htm"&gt;
                            <br>&nbsp;&nbsp;&nbsp;  &lt;area shape="circle" coords="124,58,8" alt="Venus" href="venus.htm"&gt;</span>
                            <br><span class="spanYellow">&lt;/map&gt;</span>
                        </div>
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Chapter Summary</h3> </div>
                  <div class="panel-body">  
                    <p>
                        <ul>
                            <li>Use the HTML <span class="spanRed">&lt;img&gt;</span> element to define an image</li>
                            <li>Use the HTML <span class="spanRed">src</span> attribute to define the URL of the image</li>
                            <li>Use the HTML <span class="spanRed">alt</span> attribute to define an alternate text 
                            for an image, if it cannot be displayed</li>
                            <li>Use the HTML <span class="spanRed">width</span> and <span class="spanRed">height</span> attributes to define the 
                            size of the image</li>
                            <li>Use the CSS <span class="spanRed">width</span> and <span class="spanRed">height</span> 
                            properties to define the 
                            size of the image (alternatively)</li>
                            <li>Use the CSS <span class="spanRed">float</span> property to let the image float</li>
                            <li>Use the HTML <span class="spanRed">&lt;map&gt;</span> element to define an image-map</li>
                            <li>Use the HTML <span class="spanRed">&lt;area&gt;</span> element to define the 
                            clickable areas in the image-map</li>
                            <li>Use the HTML &lt;img&gt;'s element <span class="spanRed">usemap</span> attribute to point to an image-map</li>
                        </ul>

                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML Image Tags</h3> </div>
                  <div class="panel-body">  
                    <p>
                        <table class="reference notranslate">
                        <tbody><tr>
                        <th>Tag</th>
                        <th>Description</th>
                        </tr>
                        <tr>
                        <td><a href="/tags/tag_img.asp">&lt;img&gt;</a></td>
                        <td>Defines an image</td>
                        </tr>
                        <tr>
                        <td><a href="/tags/tag_map.asp">&lt;map&gt;</a></td>
                        <td>Defines an image-map</td>
                        </tr>
                        <tr>
                        <td><a href="/tags/tag_area.asp">&lt;area&gt;</a></td>
                        <td>Defines a clickable area inside an image-map</td>
                        </tr>
                        </tbody></table>

                    </p>
                  </div>
                </div>
            </div> 

            
        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


