<div  id="reqjsApi" class="reqjs section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>USAGE</h3> </div>
                  <div class="panel-body">  

                    <div class="panel-group" id="CUsage">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col-sm-10"><h4>Load JavaScript Files</h4></div>
                            <div class="col-sm-2"><button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#panel_1" data-parent="#CUsage"><span class="glyphicon glyphicon-chevron-down"></span></button></div>
                          </div>
                        </div>
                        <div id="panel_1" class="panel-body collapse">
                          <p>RequireJS takes a different approach to script loading than traditional <span class="spanRed">&lt;script&gt;</span> tags. While it can <span class="spanRed">also run fast and optimize well</span>, the primary goal is to encourage modular code. As part of that, it encourages using <span class="spanRed">module IDs instead of URLs</span> for script tags.
                            <br>RequireJS loads all code relative to a <span class="spanRed">baseUrl</span>. The <span class="spanRed">baseUrl</span> is normally set to the same directory as the script used in a <span class="spanRed">data-main</span> attribute for the top level script to load for a page. The <span class="spanRed">data-main</span> attribute is a special attribute that require.js will check to start script loading. This example will end up with a baseUrl of scripts:

                            <br>
                            <div class="code-body">
                              &lt;!--This sets the <span class="spanYellow">baseUrl to the "scripts" directory</span>, and
       loads a script that will have a module ID of 'main'--&gt;
                              <br>&lt;script <span class="spanYellow">data-main="scripts/main.js"</span> src="scripts/require.js"&gt;&lt;/script&gt;
                            </div>
                            <br>BaseUrl can be set manually via the <span class="spanRed">RequireJS config</span>. If there is no explicit config and data-main is not used, then the <span class="spanRed">default baseUrl is the directory that contains the HTML page</span> running RequireJS.
                            <br>RequireJS also assumes by default that all dependencies are scripts, so  <span class="spanRed">it does not expect to see a trailing ".js" suffix on module IDs</span>. RequireJS will automatically add it when translating the module ID to a path. With the paths config, you can set up locations of a group of scripts. All of these capabilities allow you to use smaller strings for scripts as compared to traditional <span class="spanRed">&lt;script&gt;</span> tags.
                            <br>There may be times when you do want to reference a script directly and not conform to the "baseUrl + paths" rules for finding it. If a module ID has one of the following characteristics, the ID will not be passed through the "baseUrl + paths" configuration, and just be treated like a regular URL that is relative to the document:
                            <ul>
                              <li>Ends in ".js".</li>
                              <li>Starts with a "/".</li>
                              <li>Contains an URL protocol, like "http:" or "https:".</li>
                            </ul>
                            In general though, it is best to use the baseUrl and "paths" config to set paths for module IDs. By doing so, it gives you more flexibility in renaming and configuring the paths to different locations for optimization builds.                      
                            <br>Similarly, to avoid a bunch of configuration, it is best to avoid deep folder hierarchies for scripts, and instead either keep all the scripts in baseUrl, or if you want to separate your library/vendor-supplied code from your app code, use a directory layout like this:
                            <ul>
                              <li>www/
                                <ul>
                                    <li>index.html</li>
                                    <li>js/
                                    <ul>
                                        <li>app/
                                        <ul>
                                            <li>sub.js</li>
                                        </ul>
                                        </li>
                                        <li>lib/
                                        <ul>
                                            <li>jquery.js</li>
                                            <li>canvas.js</li>
                                        </ul></li>
                                        <li><span class="spanRed">app.js</span></li>
                                        <li>require.js</li>
                                    </ul></li>
                                </ul></li>
                            </ul>
                            in index.html:
                            <div class="code-body">
                                &lt;script <span class="spanYellow">data-main="js/app.js" src="js/require.js"</span>&gt;&lt;/script&gt;
                            </div>
                            <br>
                            and in app.js:
                            <div class="code-body">
                              requirejs.config({
                              <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <span class="spanYellow">baseUrl: 'js/lib',
                              <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    paths: {
                              <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        app: '../app'
                              <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    }</span>
                              <br>});
                              <br>
                              <br>//Start the main app logic.
                              <br>requirejs(<span class="spanYellow">['jquery', 'canvas', 'app/sub']</span>, function   ($, canvas,   sub) {
                              <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    //jQuery, canvas and the app/sub module are all loaded and can be used here now.
                              <br>});
                            </div>
                            <br>Notice as part of that example, vendor libraries like jQuery did not have their version numbers in their file names. It is recommended to store that version info in a separate text file if you want to track it, or if you use a tool like volo, it will stamp the package.json with the version information but keep the file on disk as "jquery.js". This allows you to have the very minimal configuration instead of having to put an entry in the "paths" config for each library. For instance, configure "jquery" to be "jquery-1.7.2".
                            <br>Ideally the scripts you load will be modules that are defined by calling define(). However, you may need to use some traditional/legacy "browser globals" scripts that do not express their dependencies via define(). For those, you can use the shim config. To properly express their dependencies.
                            <br>If you do not express the dependencies, you will likely get loading errors since RequireJS loads scripts asynchronously and out of order for speed.
                          </p>
                        </div>
                      </div>

                       <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col-sm-10"><h4>data-main Entry Point</h4></div>
                            <div class="col-sm-2"><button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#panel_2" data-parent="#CUsage"><span class="glyphicon glyphicon-chevron-down"></span></button></div>
                          </div>
                        </div>
                        <div id="panel_2" class="panel-body collapse">                                        
                          <p>The data-main attribute is a special attribute that require.js will check to start script loading:
                            <div class="code-body">
                              &lt;script <span class="spanYellow">data-main="scripts/main.js"</span> src="scripts/require.js"&gt;&lt;/script&gt;
                            </div>
                            <br>You will typically use a data-main script to set configuration options and then load the first application module. Note: the script tag require.js generates for your data-main module includes the async attribute. This means that  <span class="spanRed">you cannot assume that the load and execution of your data-main script will finish prior to other scripts referenced later in the same page</span>.
                            <br>For example, this arrangement will fail randomly when the require.config path for the 'foo' module has not been set prior to it being require()'d later:
                            <br>
                            <div class="code-body">
                              &lt;script <span class="spanYellow">data-main="scripts/main.js"</span> src="scripts/require.js"&gt;&lt;/script&gt;
                              <br>&lt;script <span class="spanYellow">src="scripts/other.js"</span>&gt;&lt;/script&gt;
                            </div>
                            <br>
                            <div class="code-body">
                              //contents of <span class="spanYellow">main.js</span>:
                              <br>require.config({
                              <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    paths: {
                              <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        foo: 'libs/foo-1.1.3'
                              <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    }
                              <br>});
                            </div>
                            <br>
                            <div class="code-body">
                              // contents of <span class="spanYellow">other.js</span>:
                              <br>// This code might be called before the require.config() in main.js has executed. When that happens, require.js will attempt to load 'scripts/foo.js' instead of 'scripts/libs/foo-1.1.3.js'
                              <br>require([<span class="spanYellow">'foo'</span>], function(foo) {
                              <br>
                              <br>});
                            </div>
                            <br>If you want to do require() calls in the HTML page, then it is <span class="spanRed">best to not use data-main</span>. data-main is only intended for use when the page just has one main entry point, the data-main script. For pages that want to do inline require() calls, it is best to nest those inside a require() call for the configuration:
                              <div class="code-body">
                                &lt;script <span class="spanYellow">src="scripts/require.js"</span>&gt;&lt;/script&gt;
                                <br>&lt;script&gt;
                                <br>require([<span class="spanYellow">'scripts/config'</span>], function() {
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     // Configuration loaded now, safe to do other require calls that depend on that config.
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     require([<span class="spanYellow">'foo'</span>], function(foo) {
                                <br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     });
                                <br>});
                                <br>&lt;/script&gt;
                              </div>
                            </p>
                          </div>
                        </div>

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="row">
                              <div class="col-sm-10"><h4>Define a Module</h4></div>
                              <div class="col-sm-2"><button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#panel_3" data-parent="#CUsage"><span class="glyphicon glyphicon-chevron-down"></span></button></div>
                            </div>
                          </div>
                          <div id="panel_3" class="panel-body collapse">   
                            <p>
                              A module is different from a traditional script file in that it defines a well-scoped object that avoids polluting the global namespace. It can explicitly list its dependencies and get a handle on those dependencies without needing to refer to global objects, but instead receive the dependencies as arguments to the function that defines the module. Modules in RequireJS are an extension of the Module Pattern, with the benefit of not needing globals to refer to other modules.                      
                              <br>The RequireJS syntax for modules allows them to be loaded as fast as possible, even out of order, but evaluated in the correct dependency order, and since global variables are not created, it makes it possible to load multiple versions of a module in a page.
                              <br>(If you are familiar with or are using CommonJS modules, then please also see CommonJS Notes for information on how the RequireJS module format maps to CommonJS modules).
                              <br>There should only be one module definition per file on disk. The modules can be grouped into optimized bundles by the optimization tool.  
                            </p>
                          </div>
                        </div> 

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="row">
                              <div class="col-sm-10"><h4>Simple Name/Value Pairs</h4></div>
                              <div class="col-sm-2"><button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#panel_4" data-parent="#CUsage"><span class="glyphicon glyphicon-chevron-down"></span></button></div>
                            </div>
                          </div>
                          <div id="panel_4" class="panel-body collapse">  
                            If the module does not have any dependencies, and it is just a collection of name/value pairs, then just pass an object literal to define():
                            <div class="code-body">
                              //Inside file <span class="spanYellow">my/shirt.js</span>:
                              <br><span class="spanYellow">define({</span>
                              <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    color: "black",
                              <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    size: "unisize"
                              <br><span class="spanYellow">});</span>
                            </div>
                          </div>
                        </div> 

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="row">
                              <div class="col-sm-10"><h4>Definition Functions</h4></div>
                              <div class="col-sm-2"><button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#panel_5" data-parent="#CUsage"><span class="glyphicon glyphicon-chevron-down"></span></button></div>
                            </div>
                          </div>
                          <div id="panel_5" class="panel-body collapse">  
                            If the module does not have dependencies, but needs to use a function to do some setup work, then define itself, pass a function to define():
                            <div class="code-body">
                              //my/shirt.js now does setup work before returning its module definition.
                              <br><span class="spanYellow">define(function(){</span>
                              <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    //Do setup work here
                              <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    return{
                              <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    color: "black",
                              <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    size: "unisize"
                              <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    }
                              <br><span class="spanYellow">});</span>
                            </div>
                          </div>
                        </div>                       

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="row">
                              <div class="col-sm-10"><h4>Definition Functions with Dependencies</h4></div>
                              <div class="col-sm-2"><button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#panel_6" data-parent="#CUsage"><span class="glyphicon glyphicon-chevron-down"></span></button></div>
                            </div>
                          </div>
                          <div id="panel_6" class="panel-body collapse">  
                            If the module has dependencies, the first argument should be an array of dependency names, and the second argument should be a definition function. The function will be called to define the module once all dependencies have loaded. The function should return an object that defines the module. The dependencies will be passed to the definition function as function arguments, listed in the same order as the order in the dependency array:
                              <div class="code-body">
                                //my/shirt.js now has some dependencies, a cart and inventory module in the same directory as shirt.js
                                <br><span class="spanYellow">define(["./cart", "./inventory"], function(cart, inventory) {</span>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        //return an object to define the "my/shirt" module.
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        return {
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            color: "blue",
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;             size: "large",
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;              addToCart: function() {
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                  inventory.decrement(this);
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                  cart.add(this);
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       }
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        }                          
                                <br>});
                              </div>

                            <br>In this example, a my/shirt module is created. It depends on my/cart and my/inventory. On disk, the files are structured like this:
                            <ul>
                              <li>my/cart.js</li>
                              <li>my/inventory.js</li>
                              <li>my/shirt.js</li>
                            </ul>

                            The function call above specifies two arguments, "cart" and "inventory". These are the modules represented by the "./cart" and "./inventory" module names.
                            <br>The function is not called until the my/cart and my/inventory modules have been loaded, and the function receives the modules as the "cart" and "inventory" arguments.
                            <br>Modules that define globals are explicitly discouraged, so that multiple versions of a module can exist in a page at a time (see Advanced Usage). Also, the order of the function arguments should match the order of the dependencies.
                            <br>The return object from the function call defines the "my/shirt" module. By defining modules in this way, "my/shirt" does not exist as a global object.
                          </div>
                        </div> 

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="row">
                              <div class="col-sm-10"><h4>Define a Module as a Function</h4></div>
                              <div class="col-sm-2"><button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#panel_7" data-parent="#CUsage"><span class="glyphicon glyphicon-chevron-down"></span></button></div>
                            </div>
                          </div>
                          <div id="panel_7" class="panel-body collapse">  
                            
                          </div>
                        </div> 

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="row">
                              <div class="col-sm-10"><h4>Define a Module with Simplified CommonJS Wrapper</h4></div>
                              <div class="col-sm-2"><button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#panel_8" data-parent="#CUsage"><span class="glyphicon glyphicon-chevron-down"></span></button></div>
                            </div>
                          </div>
                          <div id="panel_8" class="panel-body collapse"> 
                            
                          </div>
                        </div>                        

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="row">
                              <div class="col-sm-10"><h4>Define a Module with a Name</h4></div>
                              <div class="col-sm-2"><button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#panel_9" data-parent="#CUsage"><span class="glyphicon glyphicon-chevron-down"></span></button></div>
                            </div>
                          </div>
                          <div id="panel_9" class="panel-body collapse"> 
                            
                          </div>
                        </div> 

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="row">
                              <div class="col-sm-10"><h4>Other Module Notes</h4></div>
                              <div class="col-sm-2"><button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#panel_10" data-parent="#CUsage"><span class="glyphicon glyphicon-chevron-down"></span></button></div>
                            </div>
                          </div>
                          <div id="panel_10" class="panel-body collapse"> 
                            
                          </div>
                        </div> 

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="row">
                              <div class="col-sm-10"><h4>Circular Dependencies</h4></div>
                              <div class="col-sm-2"><button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#panel_11" data-parent="#CUsage"><span class="glyphicon glyphicon-chevron-down"></span></button></div>
                            </div>
                          </div>
                          <div id="panel_11" class="panel-body collapse"> 
                            
                          </div>
                        </div> 

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="row">
                              <div class="col-sm-10"><h4>Specify a JSONP Service Dependency</h4></div>
                              <div class="col-sm-2"><button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#panel_12" data-parent="#CUsage"><span class="glyphicon glyphicon-chevron-down"></span></button></div>
                            </div>
                          </div>
                          <div id="panel_12" class="panel-body collapse"> 
                            
                          </div>
                        </div> 

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="row">
                              <div class="col-sm-10"><h4>Undefining a Module</h4></div>
                              <div class="col-sm-2"><button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#panel_13" data-parent="#CUsage"><span class="glyphicon glyphicon-chevron-down"></span></button></div>
                            </div>
                          </div>
                          <div id="panel_13" class="panel-body collapse"> 
                            
                          </div>
                        </div> 


                        <!--div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="row">
                              <div class="col-sm-10"><h4>Undefining a Module</h4></div>
                              <div class="col-sm-2"><button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#panel_13"><span class="glyphicon glyphicon-chevron-down"></span></button></div>
                            </div>
                          </div>
                          <div id="panel_13" class="panel-body collapse"> 
                            
                          </div>
                        </div--> 

                    </div>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3></h3> </div>
                  <div class="panel-body">  
                    
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>USAGE</h3> </div>
                  <div class="panel-body">  
                    
                  </div>
                </div>
            </div> 

            
        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


