<div  id="reqjsHome" class="reqjs section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>RequireJS Home</h3> </div>
                  <div class="panel-body">  
                    <p><span class="spanRed">RequireJS</span> is <span class="spanRed">a JavaScript file and module loader></span>.<br>
                        It is optimized for in-browser use, but it can be used in other JavaScript environments, like Rhino and Node.<br>
                        Using a modular script loader like RequireJS will improve the speed and quality of your code.<br>
                        <h3>Compatible</h3>
                        <ul>
                          <li>IE 6+</li>
                          <li>FF 2+</li>
                          <li>Safari 3.2+</li>
                          <li>Chrome 3+</li>
                          <li>Opera 10+</li>
                        </ul>                      
                    </p>
                  </div>
                </div>
            </div> 

        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


