<div  id="html5Temp" class="html5 section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML Documents</h3> </div>
                  <div class="panel-body">  
                    <p>All HTML documents must start with a type declaration: &lt;!DOCTYPE html&gt;.
                        <br>The HTML document itself begins with &lt;html&gt; and ends with &lt;/html&gt;.
                        <br>The visible part of the HTML document is between &lt;body&gt; and &lt;/body&gt;.

                        <div class="code-body">
                            &lt;!DOCTYPE html&gt;
                            <br>&lt;html&gt;
                            <br>&lt;head&gt;
                            <br>&lt;title&gt;Page Title&lt;/title&gt;
                            <br>&lt;/head&gt;
                            <br>&lt;body&gt;
                            <br>
                            <br>&lt;h1&gt;My First Heading&lt;/h1&gt;
                            <br>&lt;p&gt;My first paragraph.&lt;/p&gt;
                            <br>
                            <br>&lt;/body&gt;
                            <br>&lt;/html&gt;
                        </div>
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML Headings</h3> </div>
                  <div class="panel-body">  
                    <p>HTML headings are defined with the &lt;h1&gt; to &lt;h6&gt; tags:
                         <div class="code-body">
                            &lt;h1&gt;This is a heading&lt;/h1&gt;
                            <br>&lt;h2&gt;This is a heading&lt;/h2&gt;
                            <br>&lt;h3&gt;This is a heading&lt;/h3&gt;
                         </div>

                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML Paragraphs</h3> </div>
                  <div class="panel-body">  
                    <p>HTML paragraphs are defined with the &lt;p&gt; tag:
                        <div class="code-body">
                            &lt;p&gt;This is a paragraph.&lt;/p&gt;
                            <br>&lt;p&gt;This is another paragraph.&lt;/p&gt;
                            
                         </div>

                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML Links</h3> </div>
                  <div class="panel-body">  
                    <p>HTML links are defined with the &lt;a&gt; tag:
                        <div class="code-body">
                            &lt;a href="http://www.w3schools.com"&gt;This is a link&lt;/a&gt;
                        </div>
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML Images</h3> </div>
                  <div class="panel-body">  
                    <p>HTML images are defined with the &lt;img&gt; tag.<br>
                        The source file (src), alternative text (alt), and size (width and height) are provided as attributes:

                        <div class="code-body">
                            &lt;img src="w3schools.jpg" alt="W3Schools.com" width="104" height="142"&gt;
                        </div>

                    </p>
                  </div>
                </div>
            </div> 
            
        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


