<div  id="html5Temp" class="html5 section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Styling HTML with CSS</h3> </div>
                  <div class="panel-body">  
                    <p>
                        CSS stands for Cascading Style Sheets
                        <br>Styling can be added to HTML elements in 3 ways:
                        <ul>
                            <li>Inline - using a style attribute in HTML elements</li>
                            <li>Internal - using a <span class="spanRed">&lt;style&gt;</span> element in the HTML <span class="spanRed">&lt;head&gt;</span> section</li>
                            <li>External - using one or more external CSS files</li>
                        </ul>
                        The most common way to add styling, is to keep the styles in separate CSS files. But, in this tutorial, we use internal styling, because it is easier to demonstrate, and easier for you to try it yourself.

                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Template</h3> </div>
                  <div class="panel-body">  
                    <p>


                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Template</h3> </div>
                  <div class="panel-body">  
                    <p>


                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Template</h3> </div>
                  <div class="panel-body">  
                    <p>


                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Template</h3> </div>
                  <div class="panel-body">  
                    <p>


                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Template</h3> </div>
                  <div class="panel-body">  
                    <p>


                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Template</h3> </div>
                  <div class="panel-body">  
                    <p>


                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Template</h3> </div>
                  <div class="panel-body">  
                    <p>


                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Template</h3> </div>
                  <div class="panel-body">  
                    <p>


                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Template</h3> </div>
                  <div class="panel-body">  
                    <p>


                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Template</h3> </div>
                  <div class="panel-body">  
                    <p>


                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Template</h3> </div>
                  <div class="panel-body">  
                    <p>


                    </p>
                  </div>
                </div>
            </div> 

            
        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


