<div  id="html5Editors" class="html5 section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Write HTML Using Notepad or TextEdit</h3> </div>
                  <div class="panel-body">  
                    <p>HTML can be edited by using professional HTML editors like:
                      <ul>
                        <li>Microsoft WebMatrix</li>                        
                        <li>Sublime Text</li>
                      </ul>
                      However, for learning HTML we recommend a text editor like Notepad (PC) or TextEdit (Mac).
                      <br>We believe using a simple text editor is a good way to learn HTML.
                      <br>Follow the 4 steps below to create your first web page with Notepad.
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Step 1: Open Notepad</h3> </div>
                  <div class="panel-body">  
                    <p>
                      To open Notepad in Windows 7 or earlier:
                      <br>Click <span class="spanRed">Start</span> (bottom left on your screen). Click <span class="spanRed">All Programs</span>. Click <span class="spanRed">Accessories</span>. Click <span class="spanRed">Notepad</span>.
                      <br>To open Notepad in Windows 8 or later:
                      <br>Open the <span class="spanRed">Start Screen</span> (the window symbol at the bottom left on your screen). Type <span class="spanRed">Notepad</span>.
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Step 2: Write Some HTML</h3> </div>
                  <div class="panel-body">  
                    <p>Write or copy some HTML into Notepad.
                      <div class="code-body">
                        &lt;!DOCTYPE html&gt;
                        <br>&lt;html&gt;
                        <br>&lt;head&gt;
                        <br>&lt;title&gt;Page Title&lt;/title&gt;
                        <br>&lt;/head&gt;
                        <br>&lt;body&gt;
                        <br>
                        <br>&lt;h1&gt;My First Heading&lt;/h1&gt;
                        <br>&lt;p&gt;My first paragraph.&lt;/p&gt;
                        <br>
                        <br>&lt;/body&gt;
                        <br>&lt;/html&gt;
                      </div>                      
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Step 3: Save the HTML Page</h3> </div>
                  <div class="panel-body">  
                    <p>Save the file on your computer.
                      <br>Select <span class="spanRed">File > Save</span> as in the Notepad menu.
                      <br>Name the file "index.htm" or any other name ending with htm.
                      <br>UTF-8 is the preferred encoding for HTML files.
                      <br>ANSI encoding covers US and Western European characters only.                      
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Step 4: View HTML Page in Your Browser</h3> </div>
                  <div class="panel-body">  
                    <p>Open the saved HTML file in your favorite browser.
                      <br>To open a file in a browser, double click on the file, or right-click, and choose open with.
                    </p>
                  </div>
                </div>
            </div> 

        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


