<div  id="html5Temp" class="html5 section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>What is New in HTML5?</h3> </div>
                  <div class="panel-body">  
                    <p>
                        The DOCTYPE declaration for HTML5 is very simple:
                        <div class="code-body">
                            &lt;!DOCTYPE html&gt;
                        </div>

                        <br>The character encoding (charset) declaration is also very simple:
                        <div class="code-body">
                            &lt;meta charset="UTF-8"&gt;
                        </div>

                        <br>The default character encoding in HTML5 is UTF-8.

                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>New HTML5 Elements</h3> </div>
                  <div class="panel-body">  
                    <p>
                        The most interesting new elements are: 
                        <br>New semantic elements like &lt;header&gt;, &lt;footer&gt;, &lt;article&gt;, and &lt;section&gt;.
                        <br>New form control attributes like number, date, time, calendar, and range.
                        <br>New graphic elements: &lt;svg&gt; and &lt;canvas&gt;.
                        <br>New multimedia elements: &lt;audio&gt; and &lt;video&gt;.                        
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>New HTML5 API's (Application Programming Interfaces)</h3> </div>
                  <div class="panel-body">  
                    <p>
                        The most interesting new API's are:
                        <ul>
                            <li>HTML Geolocation</li>
                            <li>HTML Drag and Drop</li>
                            <li>HTML Local Storage</li>
                            <li>HTML Application Cache</li>
                            <li>HTML Web Workers</li>
                            <li>HTML SSE</li>
                        </ul>
                        Local storage is a powerful replacement for cookies.
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Elements Removed in HTML5</h3> </div>
                  <div class="panel-body">  
                    <p>
                        The following HTML4 elements have been removed from HTML5:

                        <table class="table table-striped">
                         <tbody><tr>
                          <th>Element</th>
                          <th>Use instead</th>
                         </tr>
                         <tr>
                          <td>&lt;acronym&gt;</td>
                          <td>&lt;abbr&gt;</td>
                         </tr>
                         <tr>
                          <td>&lt;applet&gt;</td>
                          <td>&lt;object&gt;</td>
                         </tr>
                         <tr>
                          <td>&lt;basefont&gt;</td>
                          <td>CSS</td>
                         </tr>
                         <tr>
                          <td>&lt;big&gt;</td>
                          <td>CSS</td>
                         </tr>
                         <tr>
                          <td>&lt;center&gt;</td>
                          <td>CSS</td>
                         </tr>
                         <tr>
                          <td>&lt;dir&gt;</td>
                          <td>&lt;ul&gt;</td>
                         </tr>
                         <tr>
                          <td>&lt;font&gt;</td>
                          <td>CSS</td>
                         </tr>
                         <tr>
                          <td>&lt;frame&gt;</td>
                          <td>&nbsp;</td>
                         </tr>
                         <tr>
                          <td>&lt;frameset&gt;</td>
                          <td>&nbsp;</td>
                         </tr>
                         <tr>
                          <td>&lt;noframes&gt;</td>
                          <td>&nbsp;</td>
                         </tr>
                         <tr>
                          <td>&lt;strike&gt;</td>
                          <td>CSS</td>
                         </tr>
                         <tr>
                          <td>&lt;tt&gt;</td>
                          <td>CSS</td>
                         </tr>
                        </tbody></table>

                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML History</h3> </div>
                  <div class="panel-body">  
                    <p>
                        Since the early days of the web, there have been many versions of HTML:
                        <table class="table table-striped">
                            <tbody><tr>
                                <th>Version</th>
                                <th>Year</th>
                            </tr>
                            <tr>
                                <td>Tim Berners-Lee invented www</td>
                                <td>1989</td>
                            </tr>
                            <tr>
                                <td>Tim Berners-Lee invented HTML</td>
                                <td>1991</td>
                            </tr>
                            <tr>
                                <td>Dave Raggett drafted HTML+</td>
                                <td>1993</td>
                            </tr>
                            <tr>
                                <td>HTML Working Group defined HTML 2.0</td>
                                <td>1995</td>
                            </tr>
                            <tr>
                                <td>W3C Recommended HTML 3.2</td>
                                <td>1997</td>
                            </tr>
                            <tr>
                                <td>W3C Recommended HTML 4.01</td>
                                <td>1999</td>
                            </tr>
                            <tr>
                                <td>W3C Recommended XHTML 1.0</td>
                                <td>2000</td>
                            </tr>
                            <tr>
                                <td>HTML5 WHATWG First Public Draft</td>
                                <td>2008</td>
                            </tr>
                            <tr>
                                <td>HTML5 WHATWG Living Standard</td>
                                <td>2012</td>
                            </tr>
                            <tr>
                                <td>HTML5 W3C Final Recommendation</td>
                                <td>2014</td>
                            </tr>
                        </tbody></table>
                        
                        Tim Berners-Lee invented the "World Wide Web" in 1989, and the Internet took off in the 1990s.
                        <br>From 1991 to 1998, HTML developed from version 1 to version 4. 
                        <br>In 2000, the World Wide Web Consortium (W3C) recommended XHTML 1.0. 
                        <br>The XHTML syntax was strict, and the developers were forced to write valid and "well-formed" code.
                        <br>In 2004, WHATWG (Web Hypertext Application Technology Working Group) was formed in response to slow W3C development, and W3C's decision to close down the development of HTML, in favor of XHTML.
                        <br>WHATWG wanted to develop HTML, consistent with how the web was used, while being backward compatible with older versions of HTML.
                        <br>In the period 2004-2006, the WHATWG initiative gained support by the major browser vendors.
                        <br>In 2006, W3C announced that they would support WHATWG.
                        <br>In 2008, the first HTML5 public draft was released 
                        <br>In 2012, WHATWG and W3C decided on a separation:
                        <br><b>WHATWG will develop HTML as a "Living Standard".</b>
                        <br>A living standard is never fully complete, but always updated and improved. New features can be added, but old functionality can not be removed.
                        <br>The WHATWG Living Standard was published in 2012, and is continuously updated.
                        <br><b>W3C will develop a definitive HTML5 and XHTML5 standard</b>, as a "snapshot" of WHATWG.
                        <br>The W3C HTML5 recommendation was released 28. October 2014.
                    </p>
                  </div>
                </div>
            </div> 
            
        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


