<div  id="html5LocalStorage" class="html5 section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>What is HTML Local Storage?</h3> </div>
                  <div class="panel-body">  
                    <p>
                        With local storage, web applications can store data locally within the user's browser.
                        <br>Before HTML5, application data had to be stored in cookies, included in every server request. Local storage is more secure, and large amounts of data can be stored locally, without affecting website performance.
                        <br>Unlike cookies, the storage limit is far larger (at least 5MB) and information is never transferred to the server.
                        <br>Local storage is per domain. All pages, from one domain, can store and access the same data.

                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Browser Support</h3> </div>
                  <div class="panel-body">  
                    <p>
                        The numbers in the table specify the first browser version that fully supports Local Storage.
                        <table class="table table-bordered">
                          <tbody><tr>
                            <th style="width:20%;font-size:16px;text-align:left;">Element</th>
                            <th style="width:16%;" class="bsChrome" title="Chrome"><img src="media/images/compatible_chrome.gif" title="Chrome" alt="Chrome" ></th>
                            <th style="width:16%;" class="bsIE" title="Internet Explorer"><img src="media/images/compatible_ie.gif" title="Internet Explorer" alt="Internet Explorer" ></th>
                            <th style="width:16%;" class="bsFirefox" title="Firefox"><img src="media/images/compatible_firefox.gif" title="Firefox" alt="Firefox"></th>
                            <th style="width:16%;" class="bsSafari" title="Safari"><img src="media/images/compatible_safari.gif" title="Safari" alt="Safari"></th>
                            <th style="width:16%;" class="bsOpera" title="Opera"><img src="media/images/compatible_opera.gif" title="Opera" alt="Opera"></th>              
                          </tr>
                          <tr>
                            <td style="text-align:left;">Web Storage</td>
                            <td>4.0</td>
                            <td>8.0</td>
                            <td>3.5</td>
                            <td>4.0</td>
                            <td>11.5</td>
                          </tr>
                        </tbody></table>

                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML Local Storage Objects</h3> </div>
                  <div class="panel-body">  
                    <p>
                        HTML local storage provides two objects for storing data on the client:
                        <ul>
                            <li>window.localStorage - stores data with no expiration date</li>
                            <li>window.sessionStorage - stores data for one session (data is lost when the 
                            browser tab is closed)</li>
                        </ul>

                        Before using local storage, check browser support for localStorage and sessionStorage:
                        <codeBody>
                            if(typeof(Storage) !== "undefined") {
                            <br>&nbsp;&nbsp;&nbsp;    // Code for localStorage/sessionStorage.
                            <br>} else {
                            <br>&nbsp;&nbsp;&nbsp;    // Sorry! No Web Storage support..
                            <br>}
                        </codeBody>

                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>The localStorage Object</h3> </div>
                  <div class="panel-body">  
                    <p>
                        The localStorage object stores the data with no expiration date. The data will not be deleted when the browser is closed, and will be available the next day, week, or year.
                        <codeBody>
                            // Store
                            <br><spanYellow>localStorage.setItem("lastname", "Smith")</spanYellow>;
                            <br>
                            <br>// Retrieve
                            <br>document.getElementById("result").innerHTML = <spanYellow>localStorage.getItem("lastname")</spanYellow>;
                        </codeBody>
                        <br>Example explained:
                        <ul>
                            <li>Create a localStorage name/value pair with name="lastname" and value="Smith"</li>
                            <li>Retrieve the value of "lastname" and insert it into the element 
                            with id="result"</li>
                        </ul>

                        The example above could also be written like this:
                        <codeBody>
                            // Store
                            <br><spanYellow>localStorage.lastname = "Smith"</spanYellow>;
                            <br>
                            <br>// Retrieve
                            <br>document.getElementById("result").innerHTML = <spanYellow>localStorage.lastname</spanYellow>;
                        </codeBody>

                        <br>The syntax for removing the "lastname" localStorage item is as follows:
                        <codeBody>
                            localStorage.removeItem("lastname");
                        </codeBody>
                        <br><b>Note:</b> Name/value pairs are always stored as strings. Remember to convert them to another format when needed!

                        <br>
                        <br>The following example counts the number of times a user has clicked a button. In this code the value string is converted to a number to be able to increase the counter:
                        <codeBody>
                            if (localStorage.clickcount) {
                            <br>&nbsp;&nbsp;&nbsp;    <spanYellow>localStorage.clickcount = Number(localStorage.clickcount) + 1;</spanYellow>
                            <br>} else {
                            <br>&nbsp;&nbsp;&nbsp;    <spanYellow>localStorage.clickcount = 1;</spanYellow>
                            <br>}
                            <br>
                            <br>document.getElementById("result").innerHTML = "You have clicked the button " +
                            <spanYellow>localStorage.clickcount</spanYellow> + " time(s).";
                        </codeBody>

                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>The sessionStorage Object</h3> </div>
                  <div class="panel-body">  
                    <p>
                        The sessionStorage object is equal to the localStorage object, except that it stores the data for only one session. The data is deleted when the user closes the specific browser tab.
                        <br>The following example counts the number of times a user has clicked a button, in the current session:

                        <codeBody>
                            if (sessionStorage.clickcount) {
                            <br>&nbsp;&nbsp;&nbsp;    <spanYellow>sessionStorage.clickcount = Number(sessionStorage.clickcount) + 1;</spanYellow>
                            <br>} else {
                            <br>&nbsp;&nbsp;&nbsp;    <spanYellow>sessionStorage.clickcount = 1;</spanYellow>
                            <br>}
                            <br>
                            <br>document.getElementById("result").innerHTML = "You have clicked the button " +
                            <spanYellow>sessionStorage.clickcount</spanYellow> + " time(s) in this session.";
                        </codeBody>
                    </p>
                  </div>
                </div>
            </div> 
            
        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


