<div  id="html5Temp" class="html5 section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML Quotation and Citation Elements</h3> </div>
                  <div class="panel-body">  
                    <p>Here is a quote from WWF's website:
                        <q>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</q>

                    </p>
                  </div>
                </div>
            </div> 


            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>HTML <span class="spanRed">&lt;q&gt;</span> for Short Quotations</h3> </div>
                  <div class="panel-body">  
                    <p>The HTML <span class="spanRed">&lt;q&gt;</span> element defines a short quotation. Browsers usually insert quotation marks around the <q> element.
                        <p>WWF's goal is to: <q>Build a future where people live in harmony with nature.</q></p>

                        <div class="code-body">
                            <span class="spanYellow">&lt;p&gt;</span>WWF's goal is to: <span class="spanYellow">&lt;q&gt;</span>Build a future where people live in harmony with nature.<span class="spanYellow">&lt;/q&gt;</span> <span class="spanYellow">&lt;/p&gt;</span>
                        </div>

                    </p>
                  </div>
                </div>
            </div> 

            
        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


