<div  id="html5Temp" class="html5 section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>What is Responsive Web Design?</h3> </div>
                  <div class="panel-body">  
                    <p>
                        <ul>
                         <li>RWD stands for Responsive Web Design</li>
                         <li>RWD can deliver web pages in variable sizes</li>
                         <li>RWD is a must for tablets and mobile devices</li>
                        </ul>
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Creating Your Own Responsive Design</h3> </div>
                  <div class="panel-body">  
                    <p>
                        One way to create a responsive design, is to create it yourself:

                        <div class="code-body">
                            &lt;html lang="en-US"&gt;
                            <br>&lt;head&gt;
                            <br>&lt;style&gt;
                            <br><span class="spanYellow">.city {
                            <br>&nbsp;&nbsp;&nbsp;    float: left;
                            <br>&nbsp;&nbsp;&nbsp;    margin: 5px;
                            <br>&nbsp;&nbsp;&nbsp;    padding: 15px;
                            <br>&nbsp;&nbsp;&nbsp;    width: 300px;
                            <br>&nbsp;&nbsp;&nbsp;    height: 300px;
                            <br>&nbsp;&nbsp;&nbsp;    border: 1px solid black;
                            <br>}</span>
                            <br>&lt;/style&gt;
                            <br>&lt;/head&gt;
                            <br>&lt;body&gt;
                            <br>
                            <br>&lt;h1&gt;W3Schools Demo&lt;/h1&gt;
                            <br>&lt;h2&gt;Resize this responsive page!&lt;/h2&gt;
                            <br>
                            <br>&lt;div <span class="spanYellow">class="city"</span>&gt;
                            <br>&nbsp;&nbsp;&nbsp;  &lt;h2&gt;London&lt;/h2&gt;
                            <br>&nbsp;&nbsp;&nbsp;  &lt;p&gt;London is the capital city of England.&lt;/p&gt;
                            <br>&nbsp;&nbsp;&nbsp;  &lt;p&gt;It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.&lt;/p&gt;
                            <br>&lt;/div&gt;
                            <br>
                            <br>&lt;div <span class="spanYellow">class="city"</span>&gt;
                            <br>&nbsp;&nbsp;&nbsp;  &lt;h2&gt;Paris&lt;/h2&gt;
                            <br>&nbsp;&nbsp;&nbsp;  &lt;p&gt;Paris is the capital and most populous city of France.&lt;/p&gt;
                            <br>&lt;/div&gt;
                            <br>
                            <br>&lt;div <span class="spanYellow">class="city"</span>&gt;
                            <br>&nbsp;&nbsp;&nbsp;  &lt;h2&gt;Tokyo&lt;/h2&gt;
                            <br>&nbsp;&nbsp;&nbsp;  &lt;p&gt;Tokyo is the capital of Japan, the center of the Greater Tokyo Area, and the most populous metropolitan area in the world.&lt;/p&gt;
                            <br>&lt;/div&gt;
                            <br>
                            <br>&lt;/body&gt;
                        </div>
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Using Bootstrap</h3> </div>
                  <div class="panel-body">  
                    <p>
                        Another way to create a responsive design, is to use a responsive style sheet, like <a href="#bootstrap/tutorial">Bootstrap</a>.
                    </p>
                  </div>
                </div>
            </div> 
            
        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


