<div  id="seoDesignLayout" class="seo section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>SEO Design Layout</h3> </div>
                  <div class="panel-body">  

                    <p>The website design and layout gives the first impression about your site. There are sites which are too fancy and regular net surfers just reach those sites and come out even without creating a single click.</p>

                    <p>Search engines are very smart but after all, they are software and not human being, who can read the content of their interest. If you make your site too complicated, then the search engine would not be able to parse the content of your site properly, and finally indexing would not be efficient, which results in a low rank.</p>

                    <p>The actual page content should have a keyword density of about 10% and should weigh in at about 200 words - but there are as many opinions about this as there are SEO experts. Some say, keyword density should be 5% and some say it should be 20%. You can go with 10% which is good enough.</p>

                    <p>Here are a few guidelines that you should keep in mind while designing a web page.</p>

                    <ul>
                      <li>You should have more text content than HTML elements.</li>
                      <li>No frames. They are the enemies of search engines, and search engines are enemies of frames.</li>
                      <li>No ads if possible. Because most of the ads use Java-Script which is not advised to be used.</li>
                      <li>No JavaScript. If you need JavaScript, call it from an external file rather than dumping the code in the HTML file.</li>
                      <li>JavaScript drop-down menus prevent spiders from crawling beyond your homepage. If you use them, be sure to include text links at the bottom of the page.</li>
                      <li>Do not put anything in the page topic that does not fit perfectly.</li>
                      <li>No unnecessary directories. Keep your files as close to the root as possible.</li>
                      <li>No fancy stuff (Flash, Splash, Animated Gifs, Rollovers, etc.) unless absolutely necessary.</li>

                    </ul>
                  </div>
                </div>
            </div>            

        </div>       

        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


