<div  id="seoHome" class="seo section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>SEO Tutorial</h3> </div>
                  <div class="panel-body">  

                    <p><spanRed>Search Engine Optimization (SEO)</spanRed> is the activity of optimizing web pages or whole sites in order to make them search engine friendly, thus getting higher positions in search results.</p>

                    <p>This tutorial explains simple SEO techniques to improve the visibility of your web pages for different search engines, especially for <spanRed>Google, Yahoo, and Bing</spanRed>.</p>
                  </div>
                </div>
            </div>            

        </div>       

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Audience</h3> </div>
                  <div class="panel-body">  

                    <p>This tutorial has been prepared for beginners to help them understand the simple but effective SEO characteristics.</p>

                  </div>
                </div>
            </div>            

        </div> 

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Prerequisites</h3> </div>
                  <div class="panel-body">  

                    <p>We assume you are aware of simple web technologies such as HTML, XHTML, Style Sheet, etc. If you already have developed any website, then it is an added advantage and it will help you understand the concepts of SEO explained in this tutorial.</p>

                  </div>
                </div>
            </div>            

        </div> 
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


