<div  id="seoMiscTechniques" class="seo section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>SEO Misc Techniques</h3> </div>
                  <div class="panel-body">  

                    <p>There are various other tips related to SEO. We have not categorized them into any special category and hence, putting these in miscellaneous category. Go through these tips one by one.</p>
                  </div>
                </div>
            </div>            
        </div>       

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>To-Don't List</h3> </div>
                  <div class="panel-body">  

                    <ul>
                      <li>Don't keep hidden text on your webpages.</li>
                      <li>Don't create alternate image spamming by putting wrong keywords.</li>
                      <li>Don't use meta tags stuffing.</li>
                      <li>Don't use frames and flash on your site.</li>
                      <li>Don't exchange your links with black listed sites.</li>
                      <li>Don't try to fool your site visitors by using misspelled keyword.</li>
                      <li>Don't send spam emails to thousands of email IDs.</li>
                      <li>Don't use too much graphics on your site.</li>
                      <li>Don't create too many doorway pages.</li>
                      <li>Don't try to create duplicate content of pages.</li>
                      <li>Don't submit your website many times in a single search engine.</li>
                      <li>Don't use sub-directory depth more than 1-2.</li>
                      <li>Don't create too many dynamic pages. Try to convert them into static pages.</li>
                      <li>Don't bloat your pages with code.</li>
                      <li>Don't nest your pages.</li>
                    </ul>

                  </div>
                </div>
            </div>            

        </div> 

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>To-Do List</h3> </div>
                  <div class="panel-body">  

                    <ul>
                      <li>There are various other tips which can help you to optimize your website for many search engines.</li>
                      <li>Create logs of pages and each page should however contain a minimum of about 200 visible words of text to maximize relevance with Google.</li>
                      <li>Create a Sitemap, Help, FAQ, About Us, Link to Us, Copyright, Disclaimer, Privacy Policy pages on mandatory basis.</li>
                      <li>Create a homepage link to each and every webpage and provide easy navigation through all the pages.</li>
                      <li>Pay attention to your dynamic page URLs. Google can crawl and index dynamic pages as long as you don't have more than 2 parameters in the URL.</li>
                      <li>Check your complete site for broken links. Broken links will reduce your other pages rank as well.</li>
                    </ul>
                    
                  </div>
                </div>
            </div>            

        </div> 
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


