<div  id="seoMobileTechniques" class="seo section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Mobile SEO Techniques</h3> </div>
                  <div class="panel-body">  

                    <p>Millions of users these days access the web using smartphones running on Android, iOS, or Windows. Hence, it has become imperative that websites adapt themselves to this changing environment and make suitable changes in their website design to attract more viewership.</p>

                    <p>The desktop version of a site might be difficult to view and use on a mobile device. The version that is not mobile-friendly requires the user to pinch or zoom in order to read the content. Users find this a frustrating experience and are likely to abandon the site. In contrast, a mobile-friendly version is readable and immediately usable.</p>

                    <p>A recent Google update makes it mandatory that a website should be mobile-friendly to be effective on Mobile Search Engines. Note that a website that is not mobile-friendly will not have any impact on regular search engines either.</p>

                    <p>In this chapter, we will see how to make a website mobile-friendly in order to ensure the visitors who access the website from mobile devices have an optimized experience.</p>

                  </div>
                </div>
            </div>            

        </div>       

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>What is Mobile SEO?</h3> </div>
                  <div class="panel-body">  

                    <p>Mobile Search Engine Optimization is the process of designing a website to make it suitable for viewing on mobile devices of different screen sizes having low bandwidth. Apart from following all the SEO rules which are applicable to a desktop website, we need to take additional care while designing a website for mobile devices. A website is mobile friendly if it has the following attributes</p>

                    <ul>
                      <li>A good mobile website has a responsive design which performs well on desktops as well as mobile devices. It not only reduces the maintenance of the website but also makes the content consistent for the search engines.</li>
                      <li>The contents of a good mobile website are easy to read on a mobile device without having to zoom the screen. It has appropriate fonts, colors, and layouts.</li>
                      <li>It is easy to navigate through a good mobile website on a small screen. It provides links and buttons that can be easily maneuvered using a finger.</li>
                      <li>A good mobile website is lightweight such that it takes less bandwidth and time to load on mobile networks.</li>
                      <li>The Home Page of a mobile website plays the most important role in connecting users to the content they are looking for. Therefore, good mobile websites make sure the most important links are displayed on the Home Page so that they get enough visibility.</li>
                    </ul>

                    <p>The ranking of a website depends heavily on how user friendly it is. You can follow the guidelines given below to design a great mobile-friendly website.</p>

                  </div>
                </div>
            </div>            

        </div> 

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Optimize Your Site for Mobile</h3> </div>
                  <div class="panel-body">  

                    <p>If your site is already optimized for search engines, then it should not be too difficult to optimize it for mobile devices. First, let us understand what it takes to go mobile. We can categorize the steps into three broad categories −</p>

                    <ul>
                      <li>Step 1 − Select a Mobile Configuration</li>
                      <li>Step 2 − Inform Search Engines</li>
                      <li>Step 3 − Avoid Common Mistakes</li>
                    </ul>

                  </div>
                </div>
            </div>            

        </div> 

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Select a Mobile Configuration</h3> </div>
                  <div class="panel-body">  

                    <p>There are three different mobile configurations that you can choose from −</p>

                    <ul>
                      <li>Step 1 − Responsive Web Design</li>
                      <li>Step 2 − Dynamic Serving</li>
                      <li>Step 3 − Separate URLs</li>
                    </ul>

                    <p>Each has its own advantages and disadvantages. Google recommends responsive design, however it supports all three configurations. The following table shows how the mobile configuration affects your URL and HTML code −</p>                    

                    <table class="table table-bordered">
                    <tbody><tr>
                    <th>Mobile Configuration</th>
                    <th>URL</th>
                    <th>HTML</th>
                    </tr>
                    <tr>
                    <td>Responsive Web Design</td>
                    <td>Stays the same</td>
                    <td>Stays the same</td>
                    </tr>
                    <tr>
                    <td>Dynamic Serving</td>
                    <td>Stays the same</td>
                    <td>Different HTMLs</td>
                    </tr>
                    <tr>
                    <td>Separate URLs</td>
                    <td>Different URLs</td>
                    <td>Different HTMLs</td>
                    </tr>
                    </tbody></table>

                    <h4>Responsive Web Design</h4>
                    <p>Google recommends responsive web design become it is the simplest mobile configuration and very easy to implement. It serves the same HTML code on the same URL, however it adjusts the display based on the screen size of the mobile device.</p>

                    <h4>Dynamic Serving</h4>
                    <p>Dynamic serving is a type of mobile configuration where the URL of your website remains unchanged, but it serves different HTML content when accessed from a mobile device.</p>

                    <p>When your content is dynamically served from the server, make sure you inform Google that the content it is crawling may look different on mobile devices. A major drawback of this approach is that you will have to do additional processing on your content at the server level before severing it to the user. This approach puts unnecessary load on your server and makes it slow.</p>

                    <h4>Separate URLs</h4>
                    <p>When you maintain two different URLs — one for mobile users and another for desktop users – make sure you inform Google explicitly when to serve which version. Google does not recommend separate URLs because it can detect automatically that your mobile pages are different from your desktop pages.</p>

                    <p>This approach is not practical when you have a big website because maintaining two versions of the same website will require double the effort and money. At the same time, you cannot avoid various discrepancies in your content while maintaining two versions.</p>

                    <p>From the viewpoint of SEO, each URL performs separately. Hence your desktop ranking will never be added to the mobile ranking and they will always be assumed as separate websites. We don’t recommend maintaining different URLs for mobile and desktop versions if you want to draw the benefits of SEO.</p>

                  </div>
                </div>
            </div>            

        </div> 

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Inform Search Engines</h3> </div>
                  <div class="panel-body">  

                    <p>Make sure Google and other search engines understand your mobile configuration. Most important of all, Google must understand your page so that it can rank your website properly. How you inform Google depends on which mobile configuration — responsive web design, dynamic serving, or separate URLs — you have opted for.</p>

                    <p>In case your site has a responsive design, Google’s algorithms can understand it automatically without you having to inform Google. When you have a responsive design, just make sure you have the following meta-tag in your webpage header −</p>

                    <codeBody>
                      &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
                    </codeBody>
                    <br>

                    <p>The viewport decides how your webpage will be displayed on a device. A site with responsive design varies its size based on the size of the device screen. Declare a viewport so that your webpage displays correctly on any device.</p>

                    <p>If your website is dynamically served, make sure you allow Google detect your configuration using the Vary HTTP header −</p>
                    <codeBody>
                      Vary: User-Agent
                    </codeBody>
                    <br>
                    <p>The Vary header is important to tell the search engines that different content will be served on desktops and mobile devices. This header is really important when your content is served by any cache system like a Content Delivery Network and those systems will make use of this header while serving content on different devices.</p>

                    <p>In case you maintain separate URLs, e.g., example.com and m.example.com, then you can inform Google by adding a special link rel=alternate tag in your desktop version and vice versa as follows.</p>

                    <codeBody>
                      Desktop page should have following in its header:
                      <br>&lt;link rel="alternate" media="only screen and (max-width: 640px)"
                      href="http://m.example.com" &gt;
                      <br>
                      <br>Mobile page should have following in its header:
                      <br>&lt;link rel="canonical" href="http://www.example.com" &gt;
                    </codeBody>
                    
                  </div>
                </div>
            </div>            

        </div> 

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Avoid Common Mistakes</h3> </div>
                  <div class="panel-body">  

                    <p>In order to optimize your website for mobile devices, make sure you avoid committing the following mistakes −</p>

                    <ul>
                      <li><b>Slow Mobile Pages</b> − Mobile networks are slower as compared to wired Internet networks, so it is important to pay attention to how fast your mobile pages load. It is a critical Google ranking factor. Use a mobile SEO tool to find out your mobile page speed. Google provides a number of good tools that you can use. Browse the following link − https://www.google.com/webmasters/tools/mobile-friendly/</li>
                      <li><b>Don't Block CSS and JavaScript</b> − Google recommends to use inline CSS and Javascripts for mobile friendly websites so that they can be downloaded along with the content. So if you don’t have much CSS, then try to adjust it within the tag itself; but if you are using a lot of CSS in separate files, then try to include it at the bottom which will stop blocking the other content being downloaded. The same rule applies to Javascript, which can be kept inside the page itself or included at the bottom of the page. If you can avoid including the file at the top of the page, then make use of async attribute while including them.
                        <codeBody>
                          &lt;script async type="text/javascript" src="jquery.js"&gt;&lt;/script&gt;
                        </codeBody>
                      </li>
                      <li><b>Mobile Redirects</b> − Since mobile networks are normally slow, too many redirects can hurt your page speed. If you are maintaining multiple URLs, make sure all your links point to the relevant pages. In case you maintain multiple URLs and you recognize a user is visiting a desktop page from a mobile device and you have an equivalent mobile page at a different URL, then redirect the user to that URL instead of displaying a 404 error.</li>
                      <li><b>Heavy Images</b> − Heavy images reduce the load time, however we cannot completely get rid of them since they are useful and effective. Therefore you should maintain a good balance between text and heavy images. Use a good tool to optimize your images and save them at low resolution to avoid heavy downloads.</li>
                      <li><b>Avoid plug-ins and pop-ups</b> − Plug-ins like Flash and Java may not be available on user’s mobile device. Always ensure you don’t have any unplayable content on your mobile page. Avoid using pop-ups on mobile pages because it becomes quite clumsy to close these pop-ups on a mobile device.</li>
                    </ul>
                    <p>While creating a mobile page, always keep in mind that the user has limited space to work on. So, you need to be as concise as possible while creating titles, URLs, and meta-descriptions – of course without compromising the essence or quality of information.</p>
                  </div>
                </div>
            </div>            

        </div> 

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Useful Tools</h3> </div>
                  <div class="panel-body">  

                    <p>Here is a list of some useful tools that you can use to find out how mobile friendly your site is −</p>

                    <ul>
                      <li><b>Google Webmaster Tools</b> − Use the available Google tools and techniques to understand what should be used and what should be avoided while designing desktop as well as mobile websites.</li>
                      <li><b>Mobile Emulator</b> − It lets you see how your site appears on a wide variety of mobile devices.</li>
                      <li><b>Moz Local</b> − Use this tool to ensure that your local SEO is in order.</li>
                      <li><b>Responsive Web Design Testing Tool</b> − Use this tool to see how your responsive site looks like on a variety of mobile devices with different standard screen sizes.</li>
                      <li><b>Screaming Frog</b> − This is a useful tool that allows you to analyze your site and double-check all the redirects.</li>
                      <li><b>User Agent Switcher</b> − This is a Firefox add-on that you can use to find out how your site looks like when accessed from a different user agent.</li>
                    </ul>

                  </div>
                </div>
            </div>            

        </div> 

        
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


