<div  id="seoOptimizedMetatags" class="seo section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>SEO Optimized Metatags</h3> </div>
                  <div class="panel-body">  

                    <p>There are two important meta tags:</p>
                    <ul>
                      <li>Meta <spanRed>description</spanRed> tags</li>
                      <li>Meta <spanRed>keyword</spanRed> tags</li>
                    </ul>

                    <p>Some search engines may display the meta description as a part of the search results, but the meta keyword tags should not appear in search results.</p>

                    <p>The general consensus among SEO experts is that metatags are dead. Even so, many of these same experts continue to use metatags in their own sites.</p>

                    <p>For Google, adding the description meta tag does not result in a boost in the Search Engine Results Pages (SERPs), but the description might be used for the description for your SERP listings in Google.</p>

                    <p>Yahoo! says, they use the Keyword Meta Tag when it ranks a page. Hence it makes sense to add one for Yahoo! and any other minor search engines that still use.</p>

                  </div>
                </div>
            </div>            

        </div>       

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>What Do the Metatags Look Like?</h3> </div>
                  <div class="panel-body">  

                    <p>You can add the following in the head section of the web page:</p>

                    <codeBody>
                      &lt;meta <spanYellow>name="keywords"</spanYellow>
                      <br>         content="KEYWORD1 KEYWORD2 KEYPHRASE1 etc. 
                      <br>         about 30 to 40 unique words"&gt;
                      <br>
                      <br>&lt;meta <spanYellow>name="description"</spanYellow> 
                      <br>         content="An accurate, keyword-rich description 
                      <br>         about 150 characters"&gt;
                    </codeBody>

                  </div>
                </div>
            </div>            

        </div> 

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Meta Description Tag Tips</h3> </div>
                  <div class="panel-body">  

                    <p>Important tips for good Meta description tags:</p>

                    <ul>
                      <li>Use keywords in your meta description tag.</li>
                      <li>Try not to repeat the words overly often, but try to use multiple syntaxes of your key words.</li>
                      <li>There should not be more than 150 characters in a description metatag of a single web page.</li>
                      <li>Use a different meta description tag for each page, as each page is different and stands a better chance of being found if you place a good title and description on it.
</li>
                    </ul>

                  </div>
                </div>
            </div>            

        </div> 

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Meta Keywords Tag Tips</h3> </div>
                  <div class="panel-body">  

                    <p>Please refer to the previous chapter for identifying good keywords. Use the following tips for preparing good meta keywords tags.</p>

                    <ul>
                      <li>Use synonyms.</li>
                      <li>Use unique keywords.</li>
                      <li>No need to repeat any given phrase.</li>
                      <li>You can repeat a word any number of time, as long as each time it is part of a different phrase.</li>
                    </ul>

                  </div>
                </div>
            </div>            

        </div> 

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Robots Meta Tag</h3> </div>
                  <div class="panel-body">  

                    <p>The important metatag that you may need sometime is the Robots Metatag which looks like this:</p>
                    <codeBody>
                      &lt;meta name="robots" content="noindex,nofollow"&gt;
                    </codeBody>
                    <br>
                    <p>Using the above metatag, you can tell a spider or a robot that you do not want some of your pages indexed, or that you do not want your links followed.</p>

                  </div>
                </div>
            </div>            

        </div> 
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


