<div  id="seoOptimizedKeywords" class="seo section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>SEO Optimized Keywords</h3> </div>
                  <div class="panel-body">  

                    <p>A keyword is a term that is used to match with the query a person enters into a search engine to find specific information. Most people enter search phrases that consist of two to five words. Such phrases may be called search phrases, keyword phrases, query phrases, or just keywords. Good keyword phrases are specific and descriptive.</p>

                    <p>The following concepts related to keywords, help in optimizing the keywords on a web page.</p>
                  </div>
                </div>
            </div>            

        </div>       

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3><spanRed>Keyword Frequency</spanRed></h3> </div>
                  <div class="panel-body">  

                    <p><spanRed>This is calculated as how often does a keyword appear in a website title or description</spanRed>. You do not want to go overboard with frequency, however, since on some engines if you repeat a word too many times, you are be penalized for "spamming" or keyword stuffing.</p>

                    <p>In general though, repeat your keyword in the document as many times as you can get away with, and <spanRed>up to 3-7 times in your list of metatags</spanRed>.</p>
                  </div>
                </div>
            </div>            

        </div> 

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3><spanRed>Keyword Weight</spanRed></h3> </div>
                  <div class="panel-body">  

                    <p><spanRed>It refers to the number of keywords appearing on your web page compared to the total number of words appearing on that same page</spanRed>. Some search engines consider this while determining the rank of your website for a particular keyword search.</p>

                    <p>One technique that often works well is to create some smaller pages, generally just a paragraph long that emphasizes a particular keyword. <spanRed>By keeping the overall number of words to a minimum, you can increase the "weight" of the keyword you are emphasizing</spanRed>.</p>

                  </div>
                </div>
            </div>            

        </div> 

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3><spanRed>Keyword Proximity</spanRed></h3> </div>
                  <div class="panel-body">  

                    <p><spanRed>It refers to the placement of keywords on a web page in relation to each other or, in some cases, in relation to other words with a similar meaning as the queried keyword</spanRed>.</p>

                    <p>For search engines, that grade a keyword match by keyword proximity, the connected phrase home loans will outrank a citation that mentions home mortgage loans assuming that you are searching only for the phrase "home loans".</p>

                  </div>
                </div>
            </div>            

        </div> 

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3><spanRed>Keyword Prominence</spanRed></h3> </div>
                  <div class="panel-body">  

                    <p><spanRed>It is a measure of how early or high up on a page, the keywords are found</spanRed>. Having keywords in the first heading and in the first paragraph (first 20 words or so) on a page are best.</p>

                  </div>
                </div>
            </div>            

        </div> 

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3><spanRed>Keyword Placement</spanRed></h3> </div>
                  <div class="panel-body">  

                    <p>Where your keywords are placed on a page is very important. For example, in most engines, placing the keywords in the Title of the page, or in the Heading tags will give it more relevancy. On some engines, placing keywords in the link text, the part that is underlined on the screen in a browser, can add more relevancy to those words.</p>

                  </div>
                </div>
            </div>            

        </div> 

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3><spanRed>Best Places to Put Keywords</spanRed></h3> </div>
                  <div class="panel-body">  

                    <p>Here is a list of places where you should try to use your main keywords.</p>

                    <ul>
                      <li>Keywords in the <spanRed>&lt;title&gt; tag(s)</spanRed>.</li>
                      <li>Keywords in the <spanRed>&lt;meta name="description"&gt;</spanRed>.</li>
                      <li>Keywords in the <spanRed>&lt;meta name="keyword"&gt;</spanRed>.</li>
                      <li>Keywords in <spanRed>&lt;h1&gt;</spanRed> or other headline tags.</li>
                      <li>Keywords in the <spanRed>&lt;a href="http://yourcompany.com"&gt;keywords&lt;/a&gt;</spanRed> link tags.</li>
                      <li>Keywords in the <spanRed>body</spanRed> copy.</li>
                      <li>Keywords in <spanRed>alt</spanRed> tags.</li>
                      <li>Keywords in <spanRed>&lt;!-- insert comments here&gt;</spanRed> comments tags.</li>
                      <li>Keywords in the <spanRed>URL or website address</spanRed>.</li>
                    </ul>

                  </div>
                </div>
            </div>            

        </div> 

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3><spanRed>Finding Keywords</spanRed></h3> </div>
                  <div class="panel-body">  

                    <p>There are many different ways to find keywords for your website. Some good keyword ideas are:</p>

                    <ul>
                      <li>The potential words, people would use to find your product or service.</li>
                      <li>The problems that your prospective customers may try to solve with your product or service.</li>
                      <li>Keyword tags on competitor's websites.</li>
                      <li>Visible page copy on competitor's websites.</li>
                      <li>Related search suggestions on top search engines.</li>
                      <li>Using an online tool such as Google Keyword Tool</li>
                      <li>By analyzing your website carefully and finding out proper keywords. This task can be done by expert SEO copywriters.</li>
                      <li>Pay attention to stemming for your keywords - particularly to what the root word is and what Google considers to be a match for that word, when optimizing pages over time.</li>
                      <li>You can do brainstorming to identify correct keywords for your site.</li>

                    </ul>

                  </div>
                </div>
            </div>            

        </div> 

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>What is Word Stemming?</h3> </div>
                  <div class="panel-body">  

                    <p>Google uses a feature called word stemming that allows all forms of the word - singular, plural, verb form as well as similar words to be returned for a given search query.</p>

                    <p>So if someone types in "house plans", not only the pages that are optimized for that phrase but the pages that contain all variations of that phrase are returned. For example, "house plan", "house planning", "house planner".</p>

                    <p>Hope you have some understanding on keywords and you also know how to identify them and where to use them. The next chapter explains how to optimize metatags for better results.</p>

                  </div>
                </div>
            </div>            

        </div> 

       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


