<div  id="seoOptimizedAnchor" class="seo section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>SEO Optimized Anchor</h3> </div>
                  <div class="panel-body">  

                    <p>Use descriptive anchor text for all your text links. Most search engines consider anchor text of incoming links when ranking pages. Here is an example of anchor:</p>

                    <codeBody>
                      &lt;a href="otherpage.htm" title="Anchor Title"&gt;Anchor Text&lt;/a&gt;
                    </codeBody>
                    <br>

                    <p>Listed below are some of the important points to note about anchors:</p>

                    <ul>
                      <li>The Anchor Title plays a very important role and is seen by most of the search engines. The anchor title should have appropriate keywords. Anchor title helps the site visitors using a balloon, and displaying written text.</li>
                      <li>The Anchor Text is another important part, which should be selected very carefully because this text is used not only for search engines but also for navigation purpose. You should try to use the best keywords in your anchor text.</li>
                      <li>The otherpage.htm is the link to another webpage. This link could be to an external site. Here, you need to ensure that the linked page does exist; otherwise it is called a broken link, which gives a bad impression to search engines as well as to site visitors.</li>
                    </ul>

                    <p>Another example of an anchor could be as follows:</p>
                    <codeBody>
                      &lt;a href="otherpage.htm" title="Anchor Title"&gt;
                      <br>  &lt;img src="image.gif" alt="keywords" /&gt;
                      <br>&lt;/a&gt;
                    </codeBody>
                    <br>

                    <p>In this case, Anchor Text has been replaced by an image. So, while using an image in place of an anchor text, it should be checked that you have put alt tag properly. An image alt tag should have appropriate keywords.</p>

                  </div>
                </div>
            </div>            

        </div>       

        
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


