<div  id="seoRelevantFilenames" class="seo section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>SEO Relevant Filenames</h3> </div>
                  <div class="panel-body">  

                    <p>One of the simplest methods to improve your search engine optimization is to look at the way you name your files. Before writing this tutorial, we did a lot of research on file-names and found that search engines like Google give too much importance to file names. You should think what you want put in your web page and then give a relevant file name to this page.</p>

                    <p>Just try giving any keyword in Google search engine and you will find file names highlighted with the keyword you have given. It proves that your file name should have appropriate keywords.</p>

                  </div>
                </div>
            </div>            

        </div>       

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>File Naming Style</h3> </div>
                  <div class="panel-body">  

                    <ul>
                      <li>The filename should preferably be short and descriptive.</li>
                      <li>It is always good to use same keywords in a filename as well as in page title.</li>
                      <li>Do not use filenames such as service.htm or job.htm as they are generic. Use actual service name in your file name such as computer-repairing.htm.</li>
                      <li>Do not use more than 3-4 words in file names.</li>
                      <li>Separate the keywords with hyphens rather than underscores.</li>
                      <li>Try to use 2 keywords if possible.</li>
                    </ul>

                  </div>
                </div>
            </div>            

        </div> 

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>File Name Example</h3> </div>
                  <div class="panel-body">  

                    <p>Listed below are some filenames which would be ideal from the users' point of view as well as SEO.</p>

                    <codeBody>
                      slazenger-brand-balls.html
                      <br>wimbledon-brand-balls.html
                      <br>wilson-brand-balls.html
                    </codeBody>
                    <br>

                    <p>Notice that the keywords are separated by hyphens rather than underscores. Google sees good filenames as follows:</p>
                    <codeBody>
                      seo-relevant-filename as seo relevant filename(good)
                    </codeBody>
                    <br>

                    <p>Filenames with underscores are not a good option.</p>
                    <codeBody>
                      seo_relevant_filename as seorelevantfilename (not good)
                    </codeBody>

                  </div>
                </div>
            </div>            

        </div> 

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>File Extension</h3> </div>
                  <div class="panel-body">  

                    <p>You should notice that .html, .htm, .php and any other extension do NOTHING for your visitors, and they are simply a means of offloading some of the work of configuring your webserver properly onto your visitor's. In effect, you are asking your site visitors to tell your webserver HOW to produce the page, not which one?</p>

                    <p>Many Web masters think that it is a good idea to use filename without using extension. It may help you, but not a whole lot.</p>

                  </div>
                </div>
            </div>            

        </div> 

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>URL Sub-Directory Name</h3> </div>
                  <div class="panel-body">  

                    <p>From Search Engine Optimization point of view, URL sub-directory name hardly matters. You can try giving any keyword in any search, and you will not find any sub-directory name matching with your keywords. But from the user's point of view, you should keep an abbreviated sub-directory name.</p>

                  </div>
                </div>
            </div>            

        </div> 

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Guru Mantra</h3> </div>
                  <div class="panel-body">  
                    
                    <p>Keep the following points in mind before naming your files:</p>

                    <ul>
                      <li>Keep the web page filename short, simple, descriptive, and relevant to the page content.</li>
                      <li>Try to use a maximum of 3-4 keywords in your filename, and these keywords should appear on your web page title as well.</li>
                      <li>Separate all keywords with hyphen rather than with underscore.</li>
                      <li>Keep your sub-directories name as short as possible.</li>
                      <li>Restrict the file size to less than 101K because Google chops almost everything above that.</li>
                    </ul>

                  </div>
                </div>
            </div>            

        </div> 
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


