<div  id="seoSummary" class="seo section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>SEO Summary</h3> </div>
                  <div class="panel-body">  

                    <p>We have covered almost all major concepts related to Search Engine Optimization. Now you are familiar with most frequently used SEO related terminologies as well.</p>

                    <p>You have learnt how to optimize keywords, title, alt, metatags, anchor, and other text from the viewpoint of SEO. You also have learnt the importance of having good content in your website. In the Miscellaneous Techniques chapter, we have suggested you other important points which will help you optimize your website.</p>

                    <p>In a nutshell, we can have the following points as the ethical strategies for achieving optimal ranking in the search engines:</p>

                    <ul>
                      <li>All pages must conform to W3C standards.</li>
                      <li>Keyword density is never abusive.</li>
                      <li>Always include: robots.txt, sitemap.xml, and urllist.txt.</li>
                      <li>Keywords are prominent in the Title, Metatags, and Headings.</li>
                      <li>ALT tags and Title tags are not forgotten.</li>
                      <li>Nomenclature is fundamental to being indexed.</li>
                    </ul>

                    <p>Please send us your feedback at webmaster@tutorialspoint.com.</p>

                  </div>
                </div>
            </div>            

        </div>       

        
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


