<div  id="seoTacticsMethods" class="seo section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Tactics & Methods</h3> </div>
                  <div class="panel-body">  

                    <p>SEO techniques are classified into two broad categories:</p>
                    <ul>
                      <li><spanRed>White Hat SEO</spanRed> - Techniques that search engines recommend as part of a good design.</li>
                      <li><spanRed>Black Hat SEO</spanRed> - Techniques that search engines do not approve and attempt to minimize the effect of. These techniques are also known as spamdexing.</li>
                    </ul>

                  </div>
                </div>
            </div>            
        </div>       


        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3><spanRed>White Hat SEO</spanRed></h3> </div>
                  <div class="panel-body">  

                    <p>An SEO tactic is considered as White Hat if it has the following features:</p>

                    <ul>
                      <li>It conforms to the search engine's guidelines.</li>
                      <li>It does not involve in any deception.</li>
                      <li>It ensures that the content a search engine indexes, and subsequently ranks, is the same content a user will see.</li>
                      <li>It ensures that a web page content should have been created for the users and not just for the search engines.</li>
                      <li>It ensures good quality of the web pages.</li>
                      <li>It ensures availability of useful content on the web pages.</li>
                    </ul>

                    <p>Always follow a White Hat SEO tactic and do not try to fool your site visitors. Be honest and you will definitely get something more.</p>

                  </div>
                </div>
            </div>            

        </div> 

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3><spanRed>Black Hat SEO</spanRed></h3> </div>
                  <div class="panel-body">  

                    <p>An SEO tactic, is considered as Black Hat or Spamdexing if it has the following features:</p>

                    <ul>
                      <li>Attempting ranking improvements that are disapproved by the search engines and/or involve deception.</li>
                      <li>Redirecting users from a page that is built for search engines to one that is more human friendly.</li>
                      <li>Redirecting users to a page that was different from the page the search engine ranked.</li>
                      <li>Serving one version of a page to search engine spiders/bots and another version to human visitors. This is called Cloaking SEO tactic.</li>
                      <li>Using hidden or invisible text or with the page background color, using a tiny font size or hiding them within the HTML code such as "no frame" sections.</li>
                      <li>Repeating keywords in the metatags, and using keywords that are unrelated to the website content. This is called metatag stuffing.</li>
                      <li>Calculated placement of keywords within a page to raise the keyword count, variety, and density of the page. This is called keyword stuffing.</li>
                      <li>Creating low-quality web pages that contain very little content but are instead stuffed with very similar keywords and phrases. These pages are called Doorway or Gateway Pages.</li>
                      <li>Mirror websites by hosting multiple websites - all with conceptually similar content but using different URLs.</li>
                      <li>Creating a rogue copy of a popular website which shows contents similar to the original to a web crawler, but redirects web surfers to unrelated or malicious websites. This is called page hijacking.</li>
                      
                    </ul>

                    <p>Always stay away from any of the above Black Hat tactics to improve the rank of your site. Search engines are smart enough to identify all the above properties of your site and ultimately you are not going to get anything.</p>
                  </div>
                </div>
            </div>            

        </div> 
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


