<div  id="seoTitleOptimized" class="seo section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>SEO Title Optimization</h3> </div>
                  <div class="panel-body">  

                    <p>An HTML TITLE tag is put inside the head tag. The page title (not to be confused with the heading for a page) is what is displayed in the title bar of your browser window, and is also what is displayed when you bookmark a page or add it to your browser Favorites.</p>

                    <p>This is the one place on a webpage where your keywords MUST be present. Correct use of keywords in the title of every page of your website is extremely important to Google - particularly for the homepage. If you do nothing else to optimize your site, remember to do this!</p>

                    <p>Here are some considerations while designing the title of a webpage:</p>
                    <ul>
                      <li>The title shouldn't consist of more than about 9 words or 60 characters.</li>
                      <li>Use keywords at the very beginning of the title.</li>
                      <li>Do not include your company name in the title unless your company name is very well known.</li>
                    </ul>

                    <p>Improper or nonexistent use of titles in webpages keeps more websites out of top rankings on Google than any other factor except perhaps for a lack of relevant content on a page or a lack of quality links from other websites that point to your site.</p>

                  </div>
                </div>
            </div>            

        </div>       

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Best Practices for Creating Titles</h3> </div>
                  <div class="panel-body">  

                    <p>Here are some best practices you should follow for creating titles on pages:</p>

                    <ul>
                      <li>Each page should have a unique title.</li>
                      <li>If practical, try to include your Primary Keyword Phrase in every title of every page.</li>
                      <li>Begin the title of your home page with your Primary Keyword Phrase, followed by your best Secondary Keyword Phrases.</li>
                      <li>Use more specific variations to your Primary Keyword Phrase on your specific product, service, or content pages.</li>
                      <li>If you must include your company name, put it at the end of the title.</li>
                      <li>Use the best form, plural or singular, for your keywords based on what WordTracker says is searched on more often.</li>
                      <li>Do not overdo it - do not repeat your keywords more than 2 to 3 times in the title.</li>
                      <li>Make sure the &lt;title&gt; tag is the first element in the &lt;head&gt; section of your page - this makes it easier for Google to find the page.</li>
                    </ul>

                  </div>
                </div>
            </div>            

        </div> 

        
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


