<div  id="seoTutorial" class="seo section">

    <div class="container">
        <div class="jumbotron jumbotron-page">
            <h1 class="hidden-xs">SEO Tutorial</h1> 
            <div class="row">                
                <div class="col-xs-12 col-md-3" style="text-align:center"><img src="media/images/seo.png" class="img-responsive" alt="SEO" style="max-width:100%;height:auto; margin-left: auto; margin-right: auto;"></div>
                <div class="col-xs-12 visible-xs" style="height: 15px;"></div>
                <div class="col-xs-12 col-md-9">
                    <p>Search Engine Optimization (SEO) is the activity of optimizing web pages or whole sites in order to make them search engine friendly, thus getting higher positions in search results.<p>

                    <p>This tutorial explains simple SEO techniques to improve the visibility of your web pages for different search engines, especially for Google, Yahoo, and Bing.</p>
                </div>
            </div>
        </div>

         <div class="row" >
            <div class="col-sm-12">
                 <p class="pull-right"><label for="search">Search: &nbsp; </label><input id="search" type="text" ng-model="$filterTutorial"></p>
            </div>
        </div>

        <div class="row" ng-controller="TutorialCtrl">
			<div ng-class="tut.title!='Clearfix' ? 'col-sm-4' : 'col-sm-12 hidden-xs'" ng-repeat="tut in tutorials | filter:$filterTutorial">
				<div ng-if="tut.title!='Clearfix'">                    
					<h3>{{tut.title}}</h3>
					<p ng-bind-html="decodeText(tut.sortContent)"></p> 
					<a href="{{tut.link}}" class="btn btn-link btn-sm ">More <i class="fa fa-angle-right"></i></a> 
				</div>
			</div>
		</div>			
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->


