<div  id="seoWebsiteDomain" class="seo section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Website Domain</h3> </div>
                  <div class="panel-body">  

                    <p>When you start thinking of doing a business through internet, the first thing that you think about is your website domain name. Before you choose a domain name, you should consider the following:</p>

                    <ul>
                      <li>Who would be your target audience?</li>
                      <li>What you intend to sell to them. Is it a tangible item or just text content?</li>
                      <li>What will make your business idea unique or different from everything else that is already avilable in the market?</li>
                    </ul>

                    <p>Many people think it is important to have keywords in a domain. Keywords in the domain name are usually important, but it usually can be done while keeping the domain name short, memorable, and free of hyphens.</p>

                    <p>Using keywords in your domain name gives you a strong competitive advantage over your competitors. Having your keywords in your domain name can increase click-through-rates on search engine listings and paid ads as well as make it easier to use your keywords in get keyword rich descriptive inbound links.</p>

                    <p>Avoid buying long and confusing domain names. Many people separate the words in their domain names using either dashes or hyphens. In the past, the domain name itself was a significant ranking factor but now search engines have advanced features and it is not a very significant factor anymore.</p>

                    <p>Keep two to three words in your domain name that will be easy to memorize. Some of the most notable websites do a great job of branding by creating their own word. Few examples are eBay, Yahoo!, Expedia, Slashdot, Fark, Wikipedia, Google, etc.</p>

                    <p>You should be able to say it over the telephone once, and the other person should know how to spell it, and they should be able to guess what you sell.</p>

                  </div>
                </div>
            </div>            

        </div>       

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Guru Mantra</h3> </div>
                  <div class="panel-body">  

                    <p>Finally, you should be able to answer the following questions:</p>

                    <ul>
                      <li>Why do you want to build your website?</li>
                      <li>Why should people buy off your site and not from other site?</li>
                      <li>What makes you different from others?</li>
                      <li>Who are your target audience and what do you intend to sell?</li>
                      <li>List 5 to 10 websites that you think are amazing. Now think why they are amazing.</li>
                      <li>Create 5 different domain names. Make at least 1 of them funny. Tell them to half a dozen people and see which ones are the most memorable. You will get more honest feedback if the people do not know you well.</li>
                      <li>Buy your domain name that is catchy, memorable, and relevant to your business.</li>

                    </ul>

                  </div>
                </div>
            </div>            

        </div> 

        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


