<div  id="seoWhat" class="seo section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>What's SEO?</h3> </div>
                  <div class="panel-body">  

                    <p><spanRed>SEO stands for Search Engine Optimization</spanRed>. SEO is all about optimizing a website for search engines. SEO is a technique for:</p>

                    <ul>
                      <li>designing and developing a website to rank well in search engine results.</li>
                      <li>improving the volume and quality of traffic to a website from search engines.</li>
                      <li>marketing by understanding how search algorithms work, and what human visitors might search.</li>
                    </ul>

                    <p>SEO is a subset of search engine marketing. SEO is also referred as SEO copyrighting, because most of the techniques that are used to promote sites in search engines, deal with text.</p>

                    <p>If you plan to do some basic SEO, it is essential that you understand how search engines work.</p>
                  </div>
                </div>
            </div>            

        </div>       

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>How Search Engine Works?</h3> </div>
                  <div class="panel-body">  
                    <p>Search engines perform several activities in order to deliver search results.</p>

                    <ul>
                      <li><spanRed>Crawling</spanRed> - Process of fetching all the web pages linked to a website. This task is performed by a software, called a crawler or a spider (or Googlebot, in case of Google).</li>
                      <li><spanRed>Indexing</spanRed> - Process of creating index for all the fetched web pages and keeping them into a giant database from where it can later be retrieved. Essentially, the process of indexing is identifying the words and expressions that best describe the page and assigning the page to particular keywords.</li>
                      <li><spanRed>Processing</spanRed> - When a search request comes, the search engine processes it, i.e. it compares the search string in the search request with the indexed pages in the database.</li>
                      <li><spanRed>Calculating Relevancy</spanRed> - It is likely that more than one page contains the search string, so the search engine starts calculating the relevancy of each of the pages in its index to the search string.</li>
                      <li><spanRed>Retrieving Results</spanRed> - The last step in search engine activities is retrieving the best matched results. Basically, it is nothing more than simply displaying them in the browser.</li>
                      
                    </ul>

                    <p>Search engines such as Google and Yahoo! often update their relevancy algorithm dozens of times per month. When you see changes in your rankings it is due to an algorithmic shift or something else outside of your control.</p>
                    <p>Although the basic principle of operation of all search engines is the same, the minor differences between their relevancy algorithms lead to major changes in results relevancy.</p>

                  </div>
                </div>
            </div>            
        </div> 

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>What is SEO Copywriting?</h3> </div>
                  <div class="panel-body">  
                    <p>SEO Copywriting is the technique of writing viewable text on a web page in such a way that it reads well for the surfer, and also targets specific search terms. Its purpose is to rank highly in the search engines for the targeted search terms.</p>

                    <p>Along with viewable text, SEO copywriting usually optimizes other on-page elements for the targeted search terms. These include the Title, Description, Keywords tags, headings, and alternative text.</p>

                    <p>The idea behind SEO copywriting is that search engines want genuine content pages and not additional pages often called "doorway pages" that are created for the sole purpose of achieving high rankings.</p>

                  </div>
                </div>
            </div>            
        </div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>What is Search Engine Rank?</h3> </div>
                  <div class="panel-body">  
                    <p>When you search any keyword using a search engine, it displays thousands of results found in its database. A page ranking is measured by the position of web pages displayed in the search engine results. If a search engine is putting your web page on the first position, then your web page rank will be number 1 and it will be assumed as the page with the highest rank.</p>

                    <p>SEO is the process of designing and developing a website to attain a high rank in search engine results.</p>

                  </div>
                </div>
            </div>            
        </div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>What is On-Page and Off-page SEO?</h3> </div>
                  <div class="panel-body">  
                    <p>Conceptually, there are two ways of optimization:</p>
                    
                    <ul>
                      <li>On-Page SEO - It includes providing good content, good keywords selection, putting keywords on correct places, giving appropriate title to every page, etc.</li>
                      <li>Off-Page SEO - It includes link building, increasing link popularity by submitting open directories, search engines, link exchange, etc.</li>
                    </ul>

                  </div>
                </div>
            </div>            
        </div>
                
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


