<div class="ang section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>angular.element</h3> </div>
                  <div class="panel-body">  
                    <p>Wraps a raw DOM element or HTML string as a jQuery element.</p>

                    <p>If jQuery is available, <code><span class="pln">angular</span><span class="pun">.</span><span class="pln">element</span></code> is an alias for the jQuery function. If jQuery is not available, <code><span class="pln">angular</span><span class="pun">.</span><span class="pln">element</span></code> delegates to Angular's built-in subset of jQuery, called "jQuery lite" or "jqLite."</p>

                    <div class="alert alert-success">jqLite is a tiny, API-compatible subset of jQuery that allows
                    Angular to manipulate the DOM in a cross-browser compatible way. <strong>jqLite</strong> implements only the most commonly needed functionality with the goal of having a very small footprint.</div>

                    <p>To use <code><span class="pln">jQuery</span></code>, simply ensure it is loaded before the <code><span class="pln">angular</span><span class="pun">.</span><span class="pln">js</span></code> file.</p>

                    <p><b>Note:</b> all element references in Angular are always wrapped with jQuery or jqLite; they are never raw DOM references.</p>
                    
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Angular's jqLite</h3> </div>
                  <div class="panel-body">  
                    <p>
                      jqLite provides only the following jQuery methods:

                      <ul>
                        <li><code><span class="pln">addClass</span><span class="pun">()</span></code></li>
                        <li><code><span class="pln">after</span><span class="pun">()</span></code></li>
                        <li><code><span class="pln">append</span><span class="pun">()</span></code></li>
                        <li><code><span class="pln">attr</span><span class="pun">()</span></code> - Does not support functions as parameters</li>
                        <li><code><span class="pln">bind</span><span class="pun">()</span></code> - Does not support namespaces, selectors or eventData</li>
                        <li><code><span class="pln">children</span><span class="pun">()</span></code> - Does not support selectors</li>
                        <li><code><span class="pln">clone</span><span class="pun">()</span></code></li>
                        <li><code><span class="pln">contents</span><span class="pun">()</span></code></li>
                        <li><code><span class="pln">css</span><span class="pun">()</span></code> - Only retrieves inline-styles, does not call <code><span class="pln">getComputedStyle</span><span class="pun">()</span></code>. As a setter, does not convert numbers to strings or append 'px'.</li>
                        <li><code><span class="pln">data</span><span class="pun">()</span></code></li>
                        <li><code><span class="pln">detach</span><span class="pun">()</span></code></li>
                        <li><code><span class="pln">empty</span><span class="pun">()</span></code></li>
                        <li><code><span class="pln">eq</span><span class="pun">()</span></code></li>
                        <li><code><span class="pln">find</span><span class="pun">()</span></code> - Limited to lookups by tag name</li>
                        <li><code><span class="pln">hasClass</span><span class="pun">()</span></code></li>
                        <li><code><span class="pln">html</span><span class="pun">()</span></code></li>
                        <li><code><span class="kwd">next</span><span class="pun">()</span></code> - Does not support selectors</li>
                        <li><code><span class="pln">on</span><span class="pun">()</span></code> - Does not support namespaces, selectors or eventData</li>
                        <li><code><span class="pln">off</span><span class="pun">()</span></code> - Does not support namespaces or selectors</li>
                        <li><code><span class="pln">one</span><span class="pun">()</span></code> - Does not support namespaces or selectors</li>
                        <li><code><span class="pln">parent</span><span class="pun">()</span></code> - Does not support selectors</li>
                        <li><code><span class="pln">prepend</span><span class="pun">()</span></code></li>
                        <li><code><span class="pln">prop</span><span class="pun">()</span></code></li>
                        <li><code><span class="pln">ready</span><span class="pun">()</span></code></li>
                        <li><code><span class="pln">remove</span><span class="pun">()</span></code></li>
                        <li><code><span class="pln">removeAttr</span><span class="pun">()</span></code></li>
                        <li><code><span class="pln">removeClass</span><span class="pun">()</span></code></li>
                        <li><code><span class="pln">removeData</span><span class="pun">()</span></code></li>
                        <li><code><span class="pln">replaceWith</span><span class="pun">()</span></code></li>
                        <li><code><span class="pln">text</span><span class="pun">()</span></code></li>
                        <li><code><span class="pln">toggleClass</span><span class="pun">()</span></code></li>
                        <li><code><span class="pln">triggerHandler</span><span class="pun">()</span></code> - Passes a dummy event object to handlers.</li>
                        <li><code><span class="pln">unbind</span><span class="pun">()</span></code> - Does not support namespaces</li>
                        <li><code><span class="pln">val</span><span class="pun">()</span></code></li>
                        <li><code><span class="pln">wrap</span><span class="pun">()</span></code></li>
                      </ul>
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>jQuery/jqLite Extras</h3> </div>
                  <div class="panel-body">  
                    <p>Angular also provides the following additional methods and events to both jQuery and jqLite:</p>

                    <h3>Events</h3>
                    <ul>
                    <li><code><span class="pln">$destroy</span></code> - AngularJS intercepts all jqLite/jQuery's DOM destruction apis and fires this event
                     on all DOM nodes being removed.  This can be used to clean up any 3rd party bindings to the DOM
                     element before it is removed.</li>
                    </ul>

                    <h3>Methods</h3>
                    <ul>
                    <li><code><span class="pln">controller</span><span class="pun">(</span><span class="pln">name</span><span class="pun">)</span></code> - retrieves the controller of the current element or its parent. By default retrieves controller associated with the <code><span class="pln">ngController</span></code> directive. If <code><span class="pln">name</span></code> is provided as camelCase directive name, then the controller for this directive will be retrieved (e.g. <code><span class="str">'ngModel'</span></code>).</li>
                    <li><code><span class="pln">injector</span><span class="pun">()</span></code> - retrieves the injector of the current element or its parent.</li>
                    <li><code><span class="pln">scope</span><span class="pun">()</span></code> - retrieves the scope of the current element or its parent. Requires Debug Data to be enabled.</li>
                    <li><code><span class="pln">isolateScope</span><span class="pun">()</span></code> - retrieves an isolate scope if one is attached directly to the current element. This getter should be used only on elements that contain a directive which starts a new isolate scope. Calling <code><span class="pln">scope</span><span class="pun">()</span></code> on this element always returns the original non-isolate scope. Requires Debug Data to be enabled.</li>
                    <li><code><span class="pln">inheritedData</span><span class="pun">()</span></code> - same as <code><span class="pln">data</span><span class="pun">()</span></code>, but walks up the DOM until a value is found or the top
                    parent element is reached.</li>
                    </ul>

                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Usage</h3> </div>
                  <div class="panel-body">  
                    <p>
                      <codeBody>
                        angular.element(element);
                      </codeBody>
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Arguments</h3> </div>
                  <div class="panel-body">  
                    <p>
                      <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Param</th>
                          <th>Type</th>
                          <th>Details</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        <tr>
                          <td>
                            element
                            
                            
                          </td>
                          <td>
                            string, DOMElement
                          </td>
                          <td>
                            <p>HTML string or DOMElement to be wrapped into jQuery.</p>

                            
                          </td>
                        </tr>
                        
                      </tbody>
                    </table>
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Returns</h3> </div>
                  <div class="panel-body">  
                    <p>
                      <table class="table table-striped">
                        <tbody><tr>
                          <td>Object</td>
                          <td><p>jQuery object.</p>
                      </td>
                        </tr>
                      </tbody></table>
                    </p>
                  </div>
                </div>
            </div> 

        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


