<div class="ang section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>angular.isUndefined</h3> </div>
                  <div class="panel-body">  
                    <p>
                      Determines if a reference is undefined.
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Usage</h3> </div>
                  <div class="panel-body">  
                    <p>
                      <codeBody>
                        angular.isUndefined(value);
                      </codeBody>
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Arguments</h3> </div>
                  <div class="panel-body">  
                    <p>
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Param</th>
                            <th>Type</th>
                            <th>Details</th>
                          </tr>
                        </thead>
                        <tbody>
                          
                          <tr>
                            <td>
                              value
                              
                              
                            </td>
                            <td>
                              *
                            </td>
                            <td>
                              <p>Reference to check.</p>

                              
                            </td>
                          </tr>
                          
                        </tbody>
                      </table>
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Returns</h3> </div>
                  <div class="panel-body">  
                    <p>
                      <table class="table table-striped">
                        <tbody><tr>
                          <td>boolean</td>
                          <td><p>True if <code><span class="pln">value</span></code> is undefined.</p>
                      </td>
                        </tr>
                      </tbody></table>
                    </p>
                  </div>
                </div>
            </div> 

        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


