<div class="ang section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>angular.noop</h3> </div>
                  <div class="panel-body">  
                    <p>
                      A function that <spanRed>performs no operations</spanRed>. This function can be useful when writing code in the functional style.

                      <codeBody>
                        function foo(callback) {
                        <br>&nbsp;&nbsp;&nbsp;  var result = calculateResult();
                        <br>&nbsp;&nbsp;&nbsp;  (callback || <spanYellow>angular.noop</spanYellow>)(result);
                        <br>}
                      </codeBody>
                    </p>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Usage</h3> </div>
                  <div class="panel-body">  
                    <p>
                      <codeBody>
                        angular.noop()
                      </codeBody>
                    </p>
                  </div>
                </div>
            </div> 

            

        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


