<footer>
    <div class="container">
        <div class="col-sm-12">
            <h3>Dat Chau</h3>
            <p>Front End Dev</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                
            </ul>
        </div>
    </div>
</footer>
