<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <h3 style="margin-top:0;">Dat Chau <small>Front End Dev</small></h3>

            </div>
            <div class="col-sm-3">
                <ul class="list-unstyled list-inline list-social-icons pull-right">
                    <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/profile/view?id=143820395&trk=hp-identity-name" target="_blank" data-toggle="tooltip"
                                                                data-placement="top" title="LinkedIn"><i
                            class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <!--li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                                data-placement="top" title="Facebook"><i
                            class="fa fa-facebook-square fa-2x"></i></a>
                    </li-->
                </ul>

            </div>
        </div>
    </div>

    <div style="position:fixed; right:5px; bottom:5px; background-color:black;">
        <a href="" ng-click="gotoTop()">Top<span class="glyphicon glyphicon-arrow-up"></span></a>
    </div>
</footer>
