<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->


            <a class="navbar-brand" href="#/">FE Recipes</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="menu-collapse" class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                
                <li id="group-html" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">HTMLs<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu">
                        <li id="html"><a href="#/html/tutorial">HTML Tutorial</a>
                        </li>   
                        <li id="html5"><a href="#/html5/tutorial">HTML5 Tutorial</a>
                        </li>                      
                    </ul>
                </li>

                <li id="group-css" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">CSSs<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu">
                        <li id="css"><a href="#/css/tutorial">CSS Tutorial</a>
                        </li>   
                        <li id="css3"><a href="#/css3/tutorial">CSS3 Tutorial</a>
                        </li> 
                        <li id="cssRWD"><a href="#/cssRWD/tutorial">CSS Responsive Tutorial</a>
                        </li>                      
                    </ul>
                </li>                
                
                <li id="group-js" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">JS<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu">
                        <li id="javascript"><a href="#/javascript/tutorial">Javascript Tutorial</a>
                        </li>   
                        <li id="jquery"><a href="#/jquery/tutorial">jQuery Tutorial</a>
                        </li>                      
                    </ul>
                </li>

                <li id="bootstrap"><a href="#/bootstrap/tutorial" onclick="hideMenu();">Bootstrap</a>
                </li>

                <li id="group-angular" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Angular<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu">
                        <li id="angular"><a href="#/angular/tutorial">Angular Tutorial</a>
                        </li>   
                        <li id="angularAPI"><a href="#/angularAPI/tutorial">Angular API</a>
                        </li>                         
                    </ul>
                </li> 

                <li id="group-more" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">More<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu">
                        <li id="requirejs"><a href="#/requirejs/tutorial">RequireJS Tutorial</a>
                        </li>   
                        <li id="gruntjs"><a href="#/404">GruntJS Tutorial</a>
                        </li>  
                        <li id="googleAnalyticsJs"><a href="#/analytics/tutorial">Google Analytics Js</a>
                        </li>                    
                    </ul>
                </li>

                <li id="about"><a href="#/about" onclick="hideMenu();">About</a>
                </li>
                
                <li id="contact"><a href="#/contact" onclick="hideMenu();">Contact</a>
                </li>

                <!--li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/blog">List of Posts</a>
                        </li>
                        <li><a href="#/blog/post">View One Post</a>
                        </li>
                    </ul>
                </li-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
