<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->


            <a class="navbar-brand" href="#/">FE Recipes</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/jquery/home">jQuery</a>
                </li>
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Bootstrap<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu">
                        
                        <li><a href="#/bootstrap/tutorial">Bootstrap Tutorial</a>
                        </li>

                        <li><a href="#/bootstrap/grids">Bootstrap Grids</a>
                        </li>

                        <li><a href="#/bootstrap/case">Bootstrap Case</a>
                        </li>

                        <li><a href="#/bootstrap/exam">Bootstrap Exam</a>
                        </li>

                        <li><a href="#/bootstrap/ref">Bootstrap CSS Ref</a>
                        </li>

                        <li><a href="#/bootstrap/comps">Bootstrap Comps</a>
                        </li>

                        <li><a href="#/bootstrap/ref">Bootstrap JS Ref</a>
                        </li>

                        <!--li><a href="#/bootstrap/home">BS Home</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Get Started</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Grid Basic</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Typography</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Tables</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Images</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Jumbotron</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Wells</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Alerts</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Buttons</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Button Groups</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Glyphicons</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Badges/Labels</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Progress Bars</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Pagination</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Pager</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS List Groups</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Panels</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Dropdowns</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Tabs/Pills</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Navbar</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Forms</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Inputs</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Inputs 2</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Input Sizing</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Carousel</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Modal</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Tooltip</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Popover</a>
                        </li>
                        <li><a href="#/bootstrap/getStarted">BS Scrollspy</a>
                        </li>

                        <li class="divider"></li>
                        <li class="dropdown-header">Bootstrap Tutorial</li-->
                    </ul>
                </li>

                
                <li><a href="#/angular/home">Angular</a>
                </li>

                <li><a href="#/about">About</a>
                </li>
                
                <li><a href="#/contact">Contact</a>
                </li>

                <!--li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/blog">List of Posts</a>
                        </li>
                        <li><a href="#/blog/post">View One Post</a>
                        </li>
                    </ul>
                </li-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
