<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->


            <a class="navbar-brand" href="#/">FE Recipes</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="menu-collapse" class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li id="html5"><a href="#/html5/tutorial" onclick="hideMenu();">HTML5</a>
                </li>

                <li id="css"><a href="#/css3/tutorial" onclick="hideMenu();">CSS</a>
                </li>
                
                <!--li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Bootstrap<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu">
                        <li><a href="#/bootstrap/tutorial">Bootstrap Tutorial</a>
                        </li>                        
                    </ul>
                </li-->

                <li id="bootstrap"><a href="#/bootstrap/tutorial" onclick="hideMenu();">Bootstrap</a>
                </li>

                <li id="angular"><a href="#/angular/tutorial" onclick="hideMenu();" >Angular</a>
                </li>

                <li id="jquery"><a href="#/jquery/home" onclick="hideMenu();">jQuery</a>
                </li>

                <li id="about"><a href="#/about" onclick="hideMenu();">About</a>
                </li>
                
                <li id="contact"><a href="#/contact" onclick="hideMenu();">Contact</a>
                </li>

                <!--li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/blog">List of Posts</a>
                        </li>
                        <li><a href="#/blog/post">View One Post</a>
                        </li>
                    </ul>
                </li-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
