<div  id="angIntro" class="ang section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>AngularJS Forms</h3> </div>
                  <div class="panel-body">  
                    <p>An AngularJS form is a collection of input controls.</p>

                    <h3>HTML Controls</h3>
                    <p>HTML input elements are called HTML controls:
                      <ul>
                        <li>input elements</li>
                        <li>select elements</li>
                        <li>button elements</li>
                        <li>textarea elements</li>
                      </ul>
                    </p>

                    <h3>HTML Forms</h3>
                    <p>HTML forms group HTML controls together.</p>
                  </div>
                </div>
            </div> 


            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>An AngularJS Form Example</h3> </div>
                  <div class="panel-body">  
                    <div ng-app="" ng-controller="demoFormCtrl">
                      <form novalidate>
                        First Name:<br>
                        <input type="text" ng-model="user.firstName"><br>
                        Last Name:<br>
                        <input type="text" ng-model="user.lastName">
                        <br><br>
                        <button ng-click="reset()">RESET</button>
                      </form><br>
                      <p>form = {{user}}</p>
                      <p>master = {{master}}</p>
                    </div>

                    <div class="code-body">
                      &lt;div <span class="spanYellow">ng-controller=&quot;demoFormCtrl&quot;</span>&gt; 
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="spanYellow">&lt;form novalidate&gt;</span> 
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; First Name:&lt;br&gt; 
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;input type=&quot;text&quot; <span class="spanYellow">ng-model=&quot;user.firstName&quot;</span>&gt;&lt;br&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Last Name:&lt;br&gt; 
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;input type=&quot;text&quot; <span class="spanYellow">ng-model=&quot;user.lastName&quot;</span>&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;br&gt;&lt;br&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;button <span class="spanYellow">ng-click=&quot;reset()&quot;</span>&gt;RESET&lt;/button&gt; 
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;/form&gt; 
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;p&gt;<span class="spanYellow">form = { {user} }</span>&lt;/p&gt; 
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;p&gt;<span class="spanYellow">master = { {master} }</span>&lt;/p&gt; 
                      <br>&lt;/div&gt;
                      <br>
                      <br>&lt;/script&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;var app = angular.module('myApp', []);
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;app.controller(<span class="spanYellow">'demoFormCtrl'</span>, function($scope,$http) {
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="spanYellow">$scope.master = {firstName: "John", lastName: "Doe"};</span>
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="spanYellow">$scope.reset = function() {
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$scope.user = angular.copy($scope.master);
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;};</span>
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="spanYellow">$scope.reset()</span>;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
                      <br>&lt;/script&gt;

                    </div>
                    <br>
                    <p>The <span class="spanRed">novalidate</span> attribute is new in HTML5. It disables any default browser validation.</p>

                    <h3>Example Explained:</h3>
                    <p>The <span class="spanRed">ng-app</span> directive defines the AngularJS application.<br>
                      The <span class="spanRed">ng-controller</span> directive defines the application controller.<br>
                      The <span class="spanRed">ng-model</span> directive binds two input elements to the user object in the model.<br>
                      The formCtrl function sets initial values to the master object, and defines the <span class="spanRed">reset()</span> method.<br>
                      The <span class="spanRed">reset()</span> method sets the user object equal to the master object.<br>
                      The <span class="spanRed">ng-click</span> directive invokes the <span class="spanRed">reset()</span> method, only if the button is clicked.<br>
                      The novalidate attribute is not needed for this application, but normally you will use it in AngularJS forms, to override standard HTML5 validation.</p>

                  </div>
                </div>
            </div> 

        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


