<div  id="angTables" class="ang section">

    <div class="container">
        <div ng-include='"templates/jumbotron-topic.html"'></div>

        <div class="row">
            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Displaying Data in a Table</h3> </div>
                  <div class="panel-body">  
                    <p>The <span class="code-span">ng-repeat</span> directive is perfect for displaying tables.<br>
                      Displaying tables with angular is very simple:
                      <div ng-app="myApp" ng-controller="demoCustomerCtrl"> 
                        <table class=""> 
                          <tr ng-repeat="x in names"> 
                            <td>{{x.Name}}</td>
                            <td>{{x.Country}}</td>                              
                          </tr> 
                        </table> 
                        <style>
                          table, th , td {
                            border: 1px solid grey;
                            border-collapse: collapse;
                            padding: 5px;
                          }
                          table tr:nth-child(odd) {
                            background-color: #f1f1f1;
                          }
                          table tr:nth-child(even) {
                            background-color: #ffffff;
                          }
                        </style>
                      </div> 
                      
                    </p>
                      
                    <div class="code-body" ng-swipe-left="$event.stopPropagation();" ng-swipe-right="$event.stopPropagation();"style="">
                      &lt;div ng-app="myApp" <span class="spanYellow">ng-controller="demoCustomerCtrl"</span>&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &lt;table&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <span class="spanYellow">&lt;tr ng-repeat="x in names"</span>&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      &lt;td&gt;{ {x.Name} }&lt;/td&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      &lt;td&gt;{ {x.Country} }&lt;/td&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &lt;/tr&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &lt;/table&gt;
                      <br>&lt;/div&gt;
                    </div>                               
                    <br>
                    <p>To make it nice, add some CSS to the page:</p>
                    <div class="example-body">
                      &lt;style&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  table, th , td {
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    border: 1px solid grey;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    border-collapse: collapse;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    padding: 5px;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  }
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  table tr:nth-child(odd) {
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    background-color: #f1f1f1;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  }
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  table tr:nth-child(even) {
                       <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   background-color: #ffffff;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  }
                      <br>&lt;/style&gt;
                    </div>
                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Display with orderBy Filter</h3> </div>
                  <div class="panel-body">  
                    <div ng-app="myApp" ng-controller="demoCustomerCtrl"> 
                      <table>
                        <tr ng-repeat="x in names | orderBy : 'Country'">
                          <td>{{ x.Name }}</td>
                          <td>{{ x.Country }}</td>
                        </tr>
                      </table>
                    </div>   
                    <br>
                    <div class="code-body" ng-swipe-left="$event.stopPropagation();" ng-swipe-right="$event.stopPropagation();"style="">
                      &lt;div ng-app="myApp" <span class="spanYellow">ng-controller="demoCustomerCtrl"</span>&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &lt;table&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <span class="spanYellow">&lt;tr ng-repeat="x in names | orderBy : 'Country'"</span>&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      &lt;td&gt;{ {x.Name} }&lt;/td&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      &lt;td&gt;{ {x.Country} }&lt;/td&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &lt;/tr&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &lt;/table&gt;
                      <br>&lt;/div&gt;
                    </div>                 

                  </div>
                </div>
            </div> 

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Display with uppercase Filter</h3> </div>
                  <div class="panel-body">  
                    <div ng-app="myApp" ng-controller="demoCustomerCtrl"> 
                      <table>
                        <tr ng-repeat="x in names | orderBy : 'Country'">
                          <td>{{ x.Name }}</td>
                          <td>{{ x.Country | uppercase }}</td>
                        </tr>
                      </table>
                    </div>   
                    <br>
                    <div class="code-body" ng-swipe-left="$event.stopPropagation();" ng-swipe-right="$event.stopPropagation();"style="">
                      &lt;div ng-app="myApp" <span class="spanYellow">ng-controller="demoCustomerCtrl"</span>&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &lt;table&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <span class="spanYellow">&lt;tr ng-repeat="x in names | orderBy : 'Country'"</span>&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      &lt;td&gt;{ {x.Name} }&lt;/td&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      &lt;td&gt;<span class="spanYellow">{ {x.Country | uppercase} }</span>&lt;/td&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &lt;/tr&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &lt;/table&gt;
                      <br>&lt;/div&gt;
                    </div>                 

                  </div>
                </div>
            </div>

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Display the Table Index ($index)</h3> </div>
                  <div class="panel-body">  
                    <div ng-app="myApp" ng-controller="demoCustomerCtrl"> 
                      <table>
                        <tr ng-repeat="x in names | orderBy : 'Country'">
                          <td>{{ $index + 1 }}</td>
                          <td>{{ x.Name }}</td>
                          <td>{{ x.Country }}</td>
                        </tr>
                      </table>
                    </div>   
                    <br>
                    <div class="code-body" ng-swipe-left="$event.stopPropagation();" ng-swipe-right="$event.stopPropagation();"style="">
                      &lt;div ng-app="myApp" <span class="spanYellow">ng-controller="demoCustomerCtrl"</span>&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &lt;table&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <span class="spanYellow">&lt;tr ng-repeat="x in names | orderBy : 'Country'"</span>&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      &lt;td&gt;{ {x.Name} }&lt;/td&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      &lt;td&gt;{ {x.Country} }&lt;/td&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &lt;/tr&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &lt;/table&gt;
                      <br>&lt;/div&gt;
                    </div>                 

                  </div>
                </div>
            </div>

            <div class="col-lg-12">                
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>Using $even and $odd</h3> </div>
                  <div class="panel-body">  
                    <div ng-app="myApp" ng-controller="demoCustomerCtrl"> 
                      <table>
                        <tr ng-repeat="x in names | orderBy : 'Country'">
                          <td ng-if="$odd" style="background-color:#F81553">{{ x.Name }}</td>
                          <td ng-if="$even">{{ x.Name }}</td>
                          <td ng-if="$odd" style="background-color:#F81553">{{ x.Country }}</td>
                          <td ng-if="$even">{{ x.Country }}</td>
                        </tr>
                      </table>
                    </div>   
                    <br>
                    <div class="code-body" ng-swipe-left="$event.stopPropagation();" ng-swipe-right="$event.stopPropagation();"style="">
                      &lt;div ng-app="myApp" <span class="spanYellow">ng-controller="demoCustomerCtrl"</span>&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &lt;table&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <span class="spanYellow">&lt;tr ng-repeat="x in names | orderBy : 'Country'"</span>&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      &lt;td ng-if="$odd" style="background-color:#F81553"&gt;{ {x.Name} }&lt;/td&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      &lt;td ng-if="$even"&gt;{ {x.Name} }&lt;/td&gt;
                      <br>
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      &lt;td ng-if="$odd" style="background-color:#F81553"&gt;{ {x.Country} }&lt;/td&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      &lt;td ng-if="$even"&gt;{ {x.Country} }&lt;/td&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &lt;/tr&gt;
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &lt;/table&gt;
                      <br>&lt;/div&gt;
                    </div>                 

                  </div>
                </div>
            </div>


        </div>       
        <!-- /.row -->

        <div ng-include='"templates/pager.html"'></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


