<div  id="angTutorial" class="ang section">

    <div class="container">
        <div class="jumbotron jumbotron-page">
            <h1 class="hidden-xs">AngularJS</h1>
            <div class="row">
                <div class="col-xs-12 col-md-3" style="text-align:center"><img src="images/angular.png" class="img-responsive" alt="Angular" style="max-width:100%;height:auto; margin-left: auto; margin-right: auto;"></div>
                <div class="col-xs-12 visible-xs" style="height: 15px;"></div>
                <div class="col-xs-12 col-md-9">
                    <p>AngularJS is a JavaScript framework. It can be added to an HTML page with a <span class="spanYellow">&lt;script&gt;</span> tag.<br>
                        AngularJS is perfect for Single Page Applications (SPAs).<br>
                        AngularJS extends HTML attributes with <span class="spanYellow">Directives</span>, and binds data to HTML with <span class="spanYellow">Expressions</span>.
                    </p>
                </div>
            </div>            
        </div>

        <div class="row">
            <div class="col-sm-4">
                <h3>Introduction</h3>
                <p>AngularJS is a JavaScript framework. It is a library written in JavaScript. AngularJS is distributed as a JavaScript file, and can be added to a web page with a script tag.</p> 
                <a href="#angular/intro" class="btn btn-link btn-sm ">More <i class="fa fa-angle-right"></i></a> 
            </div>
            <div class="col-sm-4">
                <h3>Expressions</h3>
                <p>Bootstrap's grid system allows up to 12 columns across the page.</p> 
                <a href="#angular/gridBasic" class="btn btn-link btn-sm ">More <i class="fa fa-angle-right"></i></a>  
            </div>
            <div class="col-sm-4">
                <h3>Directives</h3>
                <p>In this chapter, we will look at some HTML elements that will be styled a little bit different by Bootstrap than browser defaults.</p> 
                <a href="#angular/typography" class="btn btn-link btn-sm ">More <i class="fa fa-angle-right"></i></a>  
            </div>
            <div class="col-sm-12 hidden-xs"></div>

            <div class="col-sm-4">
                <h3>Controllers</h3>
                <p>What is Bootstrap? Why Use Bootstrap? Where to Get Bootstrap?</p> 
                <a href="#angular/getStarted" class="btn btn-link btn-sm ">More <i class="fa fa-angle-right"></i></a> 
            </div>
            <div class="col-sm-4">
                <h3>Filters</h3>
                <p>Bootstrap's grid system allows up to 12 columns across the page.</p> 
                <a href="#angular/gridBasic" class="btn btn-link btn-sm ">More <i class="fa fa-angle-right"></i></a>  
            </div>
            <div class="col-sm-4">
                <h3>Http</h3>
                <p>In this chapter, we will look at some HTML elements that will be styled a little bit different by Bootstrap than browser defaults.</p> 
                <a href="#angular/typography" class="btn btn-link btn-sm ">More <i class="fa fa-angle-right"></i></a>  
            </div>
            <div class="col-sm-12 hidden-xs"></div>

            <div class="col-sm-4">
                <h3>Tables</h3>
                <p>What is Bootstrap? Why Use Bootstrap? Where to Get Bootstrap?</p> 
                <a href="#angular/getStarted" class="btn btn-link btn-sm ">More <i class="fa fa-angle-right"></i></a> 
            </div>
            <div class="col-sm-4">
                <h3>SQL</h3>
                <p>Bootstrap's grid system allows up to 12 columns across the page.</p> 
                <a href="#angular/gridBasic" class="btn btn-link btn-sm ">More <i class="fa fa-angle-right"></i></a>  
            </div>
            <div class="col-sm-4">
                <h3>DOM</h3>
                <p>In this chapter, we will look at some HTML elements that will be styled a little bit different by Bootstrap than browser defaults.</p> 
                <a href="#angular/typography" class="btn btn-link btn-sm ">More <i class="fa fa-angle-right"></i></a>  
            </div>
            <div class="col-sm-12 hidden-xs"></div>

            <div class="col-sm-4">
                <h3>Events</h3>
                <p>What is Bootstrap? Why Use Bootstrap? Where to Get Bootstrap?</p> 
                <a href="#angular/getStarted" class="btn btn-link btn-sm ">More <i class="fa fa-angle-right"></i></a> 
            </div>
            <div class="col-sm-4">
                <h3>Modules</h3>
                <p>Bootstrap's grid system allows up to 12 columns across the page.</p> 
                <a href="#angular/gridBasic" class="btn btn-link btn-sm ">More <i class="fa fa-angle-right"></i></a>  
            </div>
            <div class="col-sm-4">
                <h3>Forms</h3>
                <p>In this chapter, we will look at some HTML elements that will be styled a little bit different by Bootstrap than browser defaults.</p> 
                <a href="#angular/typography" class="btn btn-link btn-sm ">More <i class="fa fa-angle-right"></i></a>  
            </div>
            <div class="col-sm-12 hidden-xs"></div>

            <div class="col-sm-4">
                <h3>Validation</h3>
                <p>What is Bootstrap? Why Use Bootstrap? Where to Get Bootstrap?</p> 
                <a href="#angular/getStarted" class="btn btn-link btn-sm ">More <i class="fa fa-angle-right"></i></a> 
            </div>
            <div class="col-sm-4">
                <h3>API</h3>
                <p>Bootstrap's grid system allows up to 12 columns across the page.</p> 
                <a href="#angular/gridBasic" class="btn btn-link btn-sm ">More <i class="fa fa-angle-right"></i></a>  
            </div>
            <div class="col-sm-4">
                <h3>Bootstrap</h3>
                <p>In this chapter, we will look at some HTML elements that will be styled a little bit different by Bootstrap than browser defaults.</p> 
                <a href="#angular/typography" class="btn btn-link btn-sm ">More <i class="fa fa-angle-right"></i></a>  
            </div>
            <div class="col-sm-12 hidden-xs"></div>

            <div class="col-sm-4">
                <h3>Includes</h3>
                <p>What is Bootstrap? Why Use Bootstrap? Where to Get Bootstrap?</p> 
                <a href="#angular/getStarted" class="btn btn-link btn-sm ">More <i class="fa fa-angle-right"></i></a> 
            </div>
            <div class="col-sm-4">
                <h3>Application</h3>
                <p>Bootstrap's grid system allows up to 12 columns across the page.</p> 
                <a href="#angular/gridBasic" class="btn btn-link btn-sm ">More <i class="fa fa-angle-right"></i></a>  
            </div>
            
        </div>       
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->


